@import "reset";
@import "various";

//////

.full-container{
  width:100%;
  position:relative;
}

.container_980{
  width: 980px;
  margin: auto;
  position: relative;
}

body{
  font-family: $font-family;
}

.main_title,
.main_strong{
  font-family: 'medium_font';
}

.btn,
.a43 > .desc{
  font-family: 'v_font';
}

.hidden{
  @include hidden();
}

.clearfix{
  @include clearfix();
}

.wrapper{
  position: relative;
  min-width: 980px;
  overflow: auto;
}

.btn{
  font-size: map_get($use-font, medium-f);
}

.main_page{
  background-image:url('../images/bg.png');
  width:100%;
  min-height: 100vh;
  padding-bottom:3rem;
}

.d_inline_block{
  display: inline-block;
  vertical-align: middle;
}

button{
  border: none;
  background-color: transparent;
}