.sub_page{

  .gnbbox{
    .gnb_innerbox{
      border-bottom-color: map_get($use-color, strong-c);
    }
    .hidden_menu{
      .line{
        background-color: map_get($use-color, strong-c);
      }
    }
    .gnb{
      li{
        a:link,
        a:visited{
          color: map_get($use-color, strong-c);
          position:relative;
          padding-bottom: 25px;
          z-index: 9;
          &:before{
            width: 0;
            height: 0;
            border-top: 60px solid transparent;
            border-right: 15px solid transparent;
            display: block;
            content:'';
            position:absolute;
            top:0;
            left:-15px;
          }
          &:after{
            width: 0;
            height: 0;
            border-bottom: 60px solid transparent;
            border-left: 15px solid transparent;
            display: block;
            content:'';
            position:absolute;
            top:0;
            right:-15px;
          }
        }
        a:hover,
        a:focus,
        a.on{
          color: map_get($use-color, white-c);
          &:before{
            border-right-color: map_get($use-color, gnb-c);
          }
          &:after{
            border-left-color: map_get($use-color, gnb-c);
          }
        }
      }
    }
  }


  /////sub_btn_box
  .sub_btn_box{
    position:absolute;
    right:0;
    top:40px;

    .btn{
      width:120px;
      height: 120px;
      font-size: map_get($use-font, small-f);
      text-align: center;
      margin-bottom:10px;
      display: block;
      color: map-get($use-color, white-c);
      @include btn-style(basic);
      text-decoration: none;
      cursor: pointer;
    }

    .minwon_btn{
      background-color: map_get($use-color, s_btn1-c);
    }

    .live_btn{
      background-color: map_get($use-color, s_btn2-c);
    }


    .info_btn{
      background-color: map_get($use-color, s_btn3-c);
    }


    .token_btn{
      background-color: map_get($use-color, s_btn4-c);
    }


    .plus_btn{
      background-color: map_get($use-color, s_btn5-c);
    }



    .icon{
      width: 65px;
      height: 65px;
      margin: auto;
      padding-top:10px;
      padding-bottom:10px;
      @include basic-icon();
      display: block;
      &.icon2,
      &.icon5{
        padding-bottom:0;
      }
    }


    .icon1{
      background-image: url('../images/sub/r-icon1.png');
    }

    .icon2{
      background-image: url('../images/sub/r-icon2.png');
      padding-top:5px;
    }

    .icon3{
      background-image: url('../images/sub/r-icon3.png');
    }

    .icon4{
      background-image: url('../images/sub/r-icon4.png');
    }

    .icon5{
      background-image: url('../images/sub/r-icon5.png');
    }
  }
  /////finish sub_btn_Box

  .left_content{
    @include basic-padding(2rem);

    .s_content{
      padding-bottom:3rem;
    }

    .sc1{
      position:relative;
    }

    .web_block{
      display: block;
    }

    .block_btn{
      position:absolute;
      right:0;
      top:-50px;

      .sc1_btn{
        border: 1px solid map_get($use-color, border-c);
        border-radius: 30px;
        font-family: 'light_font';
        @include all-padding(0.5rem, 0.8rem);
        cursor: pointer;
        font-size: map_get($use-font, xsmall-f);
        background-color: transparent;
      }
      .sc1_btn2{
        margin-left:0.3rem;
      }
    }
  }


  .s_title{
    font-family: 'bold_font';
    font-size: map_get($use-font, medium2-f);
    border-left: 5px solid map_get($use-color, border-c);
    padding-left:10px;
    @include basic-padding(0.3rem);
    margin-bottom:1.5rem;
  }

  .minwon_table_box{
    width:800px;
    position:relative;
  }

  .table{
    border-collapse: collapse;
    width: 100%;
    thead{
      border-bottom: 1px solid map_get($use-color, strong-c);
    }
    th,
    td{
      padding-bottom:10px;
      margin-bottom:10px;
      text-align: center;
      padding-top:10px;
    }
  }
  .purple_line {
    width: 100%;
    background-image:url('../images/bg.png');
    height:45px;
    margin-bottom:3rem;
    margin-top:9rem;
  }

&.minwon_page{
  .sc2{
    .inner_box{
      background-image: url('../images/sub/m_icon1.png');
      height: 195px;
      background-repeat: no-repeat;
      padding-left:175px;
      width:100%;
      background-position: center left;
    }
    .s_title{
      border-left: none;
      padding-top:2rem;
    }
    .s_desc{
      margin-bottom:1rem;
      padding-left:0.5rem;
      font-size: map_get($use-font, xsmall2-f);
    }
  }
  }
}

//////input_table
.form_box{
  display: inline-block;
  padding-right:1rem;
}

.input_table_box{
  width: 830px;
  margin-top:3rem;
}
.input_table{
  width:100%;
  th,
  td{
    text-align: left!important;
  }
  td{
    text-align: left;
  }

  .person_id,
  .person_title,
  .complain_title{
    width: 80%;
    border:0;
    background-color: #eeeeee;
    height: 30px;
    outline: none;
    padding-left:15px;
  }

  .minwon_txt{
    //border: 1px solid #eee;
    width: 80%;
    //height: 135px;
    //overflow-y:auto;
    outline:none;
    padding-left:15px;
    padding-top:15px;
    display: block;
  }

  .reply_txt{
    border: 1px solid #eee;
    width: 82%;
    height: 60px;
    overflow-y:auto;
    outline:none;
    padding-left:15px;
    padding-top:15px;
    display: inline-block;
    vertical-align: text-top;
  }

  .reply_btn{
    width: 14%;
    height: 77px;
    line-height: 77px;
    background-color: map_get($use-color, reply-c);
    display: inline-block;
    vertical-align: text-top;
    border:none;
    color: map_get($use-color, white-c);
    font-family: light_font;
    font-size: map_get($use-font,xsmall-f );
    border-radius: 3px;
  }

  .v_top{
    vertical-align: top;
  }
}

.min_btn_box{
  width: 800px;
  margin-top:3rem;
  text-align: center;
  .submit_btn,
  .before_btn,
  .vote_btn{
    border:none;
    border-radius: 24px;
    padding:0.8rem 2.5rem;
    font-size: map_get($use-font, xsmall3-f);
    color: map_get($use-color, white-c);
    font-family: light_font;
  }
  .submit_btn{
    background-color: map_get($use-color, gnb-c);
    font-family: bold_font;
    padding:0.8rem 5rem;
  }
  .before_btn{
    background-color: map_get($use-color, btn3-c);
  }
  .vote_btn{
    border: 1px solid map_get($use-color, reply-c);
    color: map_get($use-color, strong-c);
    background-color: transparent;
    font-family: bold_font;
  }
}

.quick_box{
  background-image:url('../images/sub/quick_bg.png');
  width: 90px;
  height: 160px;
  position:absolute;
  top:0;
  left:-14%;
  font-family: bold_font;
  .quick_list{
    padding-top:2rem;
    padding-left:0.5rem;
    li{
      height: 17px;
      a:link,
      a:visited{
        font-size: map_get($use-font, xsmall4-f);
        text-decoration: none;
        color: map_get($use-color, strong-c);
        font-family: bold_font;
      }
    }
  }
}

/////quick_menu
.quick_txt{
  font-size: map_get($use-font, xsmall4-f);
  padding-left:0.3rem;
  &.quick_txt1{
    color: map_get($use-color, gnb-c);
    margin-top:0.5rem;
  }
  &.quick_txt2{
    color: map_get($use-color, white-c);
    margin-top:0.6rem;
    padding-left:0.8rem;
  }
}
////// quick_menu finsih


/////popup
.popup{
  background-image:url('../images/sub/popup.png');
  width: 320px;
  height: 320px;
  position:absolute;
  bottom:-120px;
  right:-350px;
  .close_btn{
    position:absolute;
    right:10px;
    top:10px;
    cursor: pointer;
    @include btn-style(basic);
    .line{
      display: block;
      width:27px;
      background-color: #bbb;
      height: 2px;
    }
    .line1{
      transform: rotate(45deg);
    }
    .line2{
      transform: rotate(-45deg);
      margin-top:-2px;

    }
  }
}
/////finish quick_menu

/////purple_line
.purple_line{
  .footer_desc{
    text-align: center;
    color: map_get($use-color, white-c);
    font-size: map_get($use-font, small-f);
    line-height: 45px;
    .footer_icon{
      background-image:url('../images/sub/footer_icon.png');
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}


/////////minwon_page2
.minwon_page2{
  .minwon_icon_box{
    @include basic-margin(3rem);
    width: 800px;
  }
  .minwon_inner_box{
    li{
      float:left;
      width:16.66667%;
      text-align: center;
      .m_icon_img{
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 80px;
      }
      .m_txt{
        font-size: map_get($use-font, xsmall-f);
        font-family: 'medium_font';
        margin-top:0.7rem;
      }
    }

    .m_icon1{
      .m_icon_img{
        background-image:url('../images/sub/icon1.png');
      }
    }

    .m_icon2{
      .m_icon_img{
        background-image:url('../images/sub/icon2.png');
      }
    }

    .m_icon3{
      .m_icon_img{
        background-image:url('../images/sub/icon3.png');
      }
    }

    .m_icon4{
      .m_icon_img{
        background-image:url('../images/sub/icon4.png');
      }
    }

    .m_icon5{
      .m_icon_img{
        background-image:url('../images/sub/icon5.png');
      }
    }

    .m_icon6{
      .m_icon_img{
        background-image:url('../images/sub/icon6.png');
      }
    }
    .m_icon{
      filter:grayscale(100%);
      &.on{
        filter:grayscale(0%);
        border:1px solid map_get($use-color, minwon-active);
        border-radius: 50%;
        padding-top:10px;
        padding-bottom:10px;
        margin-top:-10px;
        box-shadow: 0 0 25px rgba(89, 164, 171, 0.25);
      }
    }
  }
}


///////table_list
.minwon_list_page,
.admin_page{

  //////m_list_tab
  .m_list_tab{
    border-bottom: 1px solid map_get($use-color, border2-c);
    padding-bottom:1rem;
    margin-bottom: 1rem;
    li{
      float:left;
      width:20%;
      text-align: center;
      a:link,
      a:visited{
        text-decoration: none;
        color: map_get($use-color, strong-c);
      }
    }
  }
  //////// m_list_tab finish

  ///////inner_left_box
  .m_sc1_inner{
    width: 850px;
  }
  .m_sc1_inner_box{
    float:left;
    border: 1px solid map_get($use-color, border2-c);
    padding:1.5rem;
  }

  .inner_left_box{
    width: 66%;
    margin-right:10px;
  }

  .inner_right_box{
    width: 20%;
  }

  .minwon_table_cell{
    position: relative;
    border-bottom: 1px solid map_get($use-color, border2-c);
    padding-bottom: 1rem;
    border-left: 5px solid transparent;
    padding-left:1rem;
    padding-top:0.7rem;
    cursor: pointer;
    &:hover,
    &:focus{
      background-color: map_get($use-color, hover-c);
      border-left-color: map_get($use-color, reply-c);
    }
  }

  .m_sc1_inner_box{
    .d_inline_block{
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0.7rem;
      margin-top: 0.5rem;
    }

    .minwon_reply{
      color: map_get($use-color, reply-c);
      padding-right:10px;
      font-size: map_get($use-font, xsmall2-f);
    }

    .minwon_time{
      position: absolute;
      right:0;
      color: map_get($use-color, border2-c);
      font-size: map_get($use-font, xsmall2-f);
      padding-right:0.7rem;
    }

    .minwon_title{
      a:link,
      a:visited{
        text-decoration: none;
        color: map_get($use-color, strong-c);
      }
    }
  }

  ///////inner left box finish

  //////inner_right_box
  .inner_right_box{
    .d_inline_block{
      display: inline-block;
      vertical-align: middle;
      width: 48%;
    }

    /////right_menu_info
    .right_menu_info{
      border-bottom: 1px solid map_get($use-color, strong-c);
      .t_num{
        display: block;
        font-family: 'bold_font';
        font-size: map_get($use-font, large-f);
        text-align: center;
      }
      .t_num1,
       .t_txt1{
         color: map_get($use-color, reply-c);
       }
      .t_num2,
      .t_txt2{
        color: map_get($use-color, black-c);
      }
      .t_txt{
        display: block;
        font-size: map_get($use-font, xsmall-f);
        text-align: center;
        margin-top:0.7rem;
      }
    }

    ///////right_menu_search
    .right_menu_search{
      margin-top:1.5rem;
      margin-bottom:3rem;
      position:relative;
      .search_input{
        border-radius: 17px;
        width: 100%;
        display: block;
        border: none;
        background-color: map_get($use-color, form-c);
        @include basic-padding(0.7rem);
        padding-left:10px;
      }
      .search_icon{
        color: map_get($use-color, black-c);
        position: absolute;
        right:0;
        top:10px;
      }
    }
    /////right_menu_search finish


    /////right_menu_icon
    .right_menu_icon{
      .btn_set{
        display: inline-block;
        vertical-align:middle;
        width: 31%;
        text-align: center;
        &.more_btn{
          width: 100%;
          margin-top:1rem;
        }
      }
    }
  }



  //////sc2
  .sc2{
    width: 850px;
    .sc2_box{
        float:left;
        box-shadow: $box-shadow3;
    }
    .left_box{
      width:63%;
    }
    .right_box{
      width: 35%;
      margin-left:2%;
    }
  }

}

//////minwon_detail_page
.minwon_detail_page{

  .input_table_box{
      .person_id,
      .person_title{
        background-color: transparent;
        padding-left:0;
      }
    .minwon_txt{
      line-height: 1.4;
      padding-left:0;
      font-size: map_get($use-font, xsmall2-f);
      p{
        margin-bottom:2rem;
      }
    }
  }

  .minwon_time_box{
    color: map_get($use-color, gray-c);
  }

  ////reply_box
  .d_inline_block{
    padding-right:30px;
  }

  .reply_box{
    max-height: 150px;
    overflow-y: auto;
    border-top: 1px solid map_get($use-color, border2-c);

    .reply_small_box{
      position: relative;
      padding-top:1rem;
      padding-bottom:1rem;
      border-bottom: 1px solid map_get($use-color, border2-c);
      padding-left:10px;
      padding-right: 10px;
    }

    .reply_check_box{
      svg{
        color: map_get($use-color, reply-c);
      }
      .reply_check{
        font-family: bold_font;
      }
    }

    .reply_id_box{
      color:map_get($use-color, gray-c);
      font-size: map_get($use-font, xsmall2-f);
    }

    .reply_title_box{
      font-family: bold_font;
    }

    .reply_time_box{
      position: absolute;
      right:0;
      color:map_get($use-color, gray-c);
      font-size: map_get($use-font, xsmall2-f);
    }

    .reply_write_box{
      margin-top:1rem;
    }
  }
}

////////share

.share_page{
  .a3{
    float:left;
    width:33.3333%;
  }
  .sc2{
    width:830px;
    .left_box,
    .right_box{
      float:left;
    }
    .left_box{
      width:37%;
      border-right: 1px solid map_get($use-color, strong-c);
      box-sizing: border-box;
      margin-right:3%;
      .block_btn_box{
        .sc1_btn{
          border: 1px solid map_get($use-color, border-c);
          border-radius: 30px;
          font-family: 'light_font';
          @include all-padding(0.5rem, 0.8rem);
          cursor: pointer;
          font-size: map_get($use-font, xsmall2-f);
          background-color: transparent;
          text-decoration: none;
          display: inline-block;
          color: map_get($use-color, strong-c);
          margin-top:1rem;
        }
      }
    }
    .right_box{
      width:60%;
      border:1px solid map_get($use-color, reply-c);
      box-sizing: border-box;
      text-align: center;
      padding:1.5rem 1rem;
      border-radius: 7px;
      .s_title{
        border-left:0;
        font-size: map_get($use-font, small-f);
        margin-bottom:0.2rem;
        margin-top:0.5rem;
      }
      .s_desc{
        font-size: map_get($use-font, xsmall-f);
        line-height: 1.2;
      }
    }
  }

  .sc3{
    padding-top:2rem;
    .s_title{
      border-left: 0;
      text-align: center;
    }
  }
}

///////admin
.admin_page{
  .admin_right_menu{
    background-color: map_get($use-color, admin-right-menu);
    position:relative;
  }

  .grid_temp{
    display: grid;
    grid-template-columns: minmax(1fr, 980px);
  }
  .grid1{
    grid-column: 1 / 2;
  }
  .grid2{
    grid-column: 2 / 3;
  }
  .grid3{
    grid-column: 3 / 4;
  }


  .admin_right_menu{
    text-align: right;
    padding-top:2rem;
    //padding-bottom:5rem;
    .admin_menu{
      width: 80%;
      margin-left:20%;
      text-align: left;
      margin-bottom:20rem;
      .admin_menu_list{
        li{
          margin-bottom:1.5rem;
          a:link,
          a:visited{
            text-indent: 5px;
            color: map_get($use-color, admin-sub-color);
            text-decoration: none;
            display: block;
            width: 100%;
            padding:0.5rem 0 0.5rem 0;
            span {
              display: inline-block;
              vertical-align: middle;
            }
            .menu_txt.on{
              color: map_get($use-color, white-c);
            }
          }
          a:hover,
          a:focus,
          a.on{
            background-color: #1f2c38;
            border-radius: 10px 0 0 10px;
          }
        }
      }
    }
    .admin_bottom_menu{
      //position:fixed;
      //bottom:0;
    }
  }

  ////////grid2
  .admin_info{
    .admin_name{
      font-size: map_get($use-font, medium2-f);
    }
    .admin_star{
      display: inline-block;
     vertical-align: top;
      .c_red{
        color: map_get($use-color, admin-red-c);
      }
      .c_gray{
        color: map_get($use-color, admin-gray-c);
      }
    }

    .admin_stair{
      color: map_get($use-color, admin-sub-c);
      @include basic-padding(0.5rem);
      .admin_stair_link{
        color: map_get($use-color, reply-c);
        text-decoration: none;
      }
    }

    .admin_exp{
      color: map_get($use-color, admin-sub-c);
    }
  }

  .sc1{
    .m_sc1_inner_box{
      width:27.33333%;
      height: 280px;
      position:relative;
    }
    .m_inner_box2{
      margin-left:1%;
      margin-right:1%;
    }
    .m_sc1_inner{
      width: 100%;
    }
    .m_list_tab{
      margin-top:2rem;
      li{
        width: 14.28571%;
      }
    }

    .admin_minwon_num_box{
      padding-bottom:1rem;
      li{
        display: inline-block;
        width: 49%;
        text-align: center;
        strong{
          display: block;
          font-family: bold_font;
          font-size: map_get($use-font, large-f);
          color:  map_get($use-color, admin-c2);
        }
        span{
          color:  map_get($use-color, admin-c2);
          font-size: map_get($use-font, xsmall-f);
          display: block;
         margin-top:0.5rem;
        }

      }
    }

    .m_inner_box1{
      .num1,
      .txt1{
        color: map_get($use-color, admin-c1);
      }
    }

    .m_inner_box2{
      .num1,
      .txt1{
        color: map_get($use-color, admin-c3);
      }
    }

    .m_inner_box3{
      .num1,
      .txt1{
        color: map_get($use-color, admin-c4);
      }
    }

    .minwon_table_cell{
      position:relative;
      padding-bottom:0.3rem;
      padding-top:0.5rem;
      .minwon_title{
        font-size: map_get($use-font, xsmall-f);
        color: map_get($use-color, admin-c2);
      }
      .m_data2{
        width:185px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }
  }

  .admin_more_box{
    position:absolute;
    right:10px;
    bottom:20px;
    .more_btn{
      font-size: map_get($use-font, xsmall4-f);
      color: map_get($use-color, admin-c2);
    }

  }

  .minwon_percent_box{
    padding-left:0;
    padding-right:0.5rem;
    margin-bottom:0!important;
  }

  .minwon_percent{
    display: block;
    width: 40px;
    background-color: map_get($use-color, admin-c7);
    position:relative;
    bottom:-5px;
    &:before{
      color: map_get($use-color, admin-c2);
      display: block;
      position:absolute;
      top:-12px;
      font-size: map_get($use-font, xsmall-f);
      right:8px;
    }
    &.p_35{
      height: 15px;
      bottom:-9px;
      &:before{
        content:'35%';
      }
    }
    &.p_20{
      height: 10px;
      bottom:-12px;
      &:before{
        content:'20%';
      }
    }
    &.p_70{
      height: 35px;
      &:before{
        content:'70%';
      }
    }
    &.p_90{
      height: 40px;
      &:before{
        content:'90%';
      }
    }
  }

  /////sc1

  .sc2{
    .admin_left,
    .admin_right{
      float:left;
    }
    .admin_left{
      width:45%;
      border: 1px solid map_get($use-color, border2-c);
      box-sizing: border-box;
      padding:1.5rem;
      color: map_get($use-color, admin-c2);
      .a4{
        margin-top:1rem;
        margin-bottom:1rem;
        float:left;
        width: 25%;
        font-size: map_get($use-font, xsmall4-f);
        text-align: center;
        .percent{
          width: 44px;
          height: 40px;
          background-color: map_get($use-color, admin-c5);
          margin:0 auto 0.5rem;
         // position:relative;
          span{
            background-color: map_get($use-color, admin-c6);
            display: block;
            //position:absolute;
            //bottom:0;
          }
          .p_ing1{
            height: 30px;
            position:relative;
            bottom:-10px;
          }
          .p_ing2{
            height: 12px;
            position:relative;
            bottom:-28px;
          }
          .p_ing3{
            height: 21px;
            position:relative;
            bottom:-19px;
          }
        }

        .num3{
          font-family: bold_font;
          font-size: map_get($use-font, large-f);
          color: map_get($use-color, admin-c6);
          display: block;
          margin-bottom:1rem;
        }
      }
      .admin_bottom_box{
        clear:both;
        margin-top:1rem;
        padding-top:1rem;
        border-top: 1px solid map_get($use-color, border2-c);
      }
    }
    .admin_right{
      width: 55%;
      .admin_title{
        padding-bottom:0.5rem;
        border-bottom: 1px solid map_get($use-color, border2-c);
      }
      .admin_more_box{
        bottom: 94px;
      }
    }
  }
}



/////modal
.admin_modal{
  display: none;
  min-height: 600px;
  overflow-y: auto;
  position: fixed;
  right:0;
  left:0;
  bottom:0;
  top:0;

  .black_bg{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    right:0;
    left:0;
    bottom:0;
    top:0;
  }

  .modal_inner_box{
    position:relative;
    z-index:999;
    background-color: #fff;
    width: 800px;
    margin: auto;
    padding:2rem;
  }
  .minwon_txt{
    p{
      margin-bottom:1rem;
    }
  }

  .sc1,
  .sc2,
  .sc3{
    padding-bottom:2rem;
  }

  .admin_feedback_btn{
    text-align: center;
  }
  .feedback_btn{
    border: 1px solid map_get($use-color, border-c);
    padding:0.5rem 1.5rem;
    font-size: map_get($use-font, small-f);
    font-family: light_font;
    border-radius: 17px;
  }

  .select_box,
  .to{
    border: 1px solid map_get($use-color, admin-c2);
    padding:0.3rem 0.5rem;
  }
  .select_box{
    text-align: center;
  }
  .close_btn{
    color: map_get($use-color, admin-c2);
    font-size: map_get($use-font, small-f);
    position:absolute;
    right:30px;
  }
  &.on{
    display: block;
  }
}

/////mobile
.mobile_box{
  position:relative;
  .mobile_btn_box{
    position:absolute;
    top:30.5rem;
    right:1rem;
  }
  .mobile_btn{
    background-color: map_get($use-color, reply-c);
    color: map_get($use-color, white-c);
    font-family: light_font;
    font-size: map_get($use-font, xsmall-f);
    padding:0.3rem 0.8rem;
    border-radius: 17px;
  }
}

.mobile_modal{
  display: none;
  position:fixed;
  left:0;
  right:0;
  top:50px;
  text-align: center;
  .black_bg{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
  }

  .mobile_inner_box{
    position:relative;
    z-index: 999;
    .mobile_submit_btn{
      width:108px;
      height: 35px;
      position:absolute;
      bottom:52px;
      left:0;
      right:0;
      margin: auto;
      color: #fff;
      font-family: light_font;
      font-size: map_get($use-font, xsmall3-f);
      background-color: map_get($use-color, reply-c);
      border-radius: 17px;
    }
  }
  &.on{
    display: block;
  }
}