.sub_page{

  .gnbbox{
    .gnb_innerbox{
      border-bottom-color: map_get($use-color, strong-c);
    }
    .hidden_menu{
      .line{
        background-color: map_get($use-color, strong-c);
      }
    }
    .gnb{
      li{
        a:link,
        a:visited{
          color: map_get($use-color, strong-c);
        }
      }
    }
  }


  /////sub_btn_box
  .sub_btn_box{
    position:absolute;
    right:0;
    top:40px;

    .btn{
      width:120px;
      height: 120px;
      font-size: map_get($use-font, small-f);
      text-align: center;
      margin-bottom:10px;
      display: block;
      color: map-get($use-color, white-c);
      @include btn-style(basic);
      text-decoration: none;
      cursor: pointer;
    }

    .minwon_btn{
      background-color: map_get($use-color, s_btn1-c);
    }

    .live_btn{
      background-color: map_get($use-color, s_btn2-c);
    }


    .info_btn{
      background-color: map_get($use-color, s_btn3-c);
    }


    .token_btn{
      background-color: map_get($use-color, s_btn4-c);
    }


    .plus_btn{
      background-color: map_get($use-color, s_btn5-c);
    }



    .icon{
      width: 65px;
      height: 65px;
      margin: auto;
      padding-top:10px;
      padding-bottom:10px;
      @include basic-icon();
      display: block;
    }

    .icon1{
      background-image: url('../images/sub/r-icon1.png');
    }

    .icon2{
      background-image: url('../images/sub/r-icon2.png');
      padding-top:5px;
    }

    .icon3{
      background-image: url('../images/sub/r-icon3.png');
    }

    .icon4{
      background-image: url('../images/sub/r-icon4.png');
    }

    .icon5{
      background-image: url('../images/sub/r-icon5.png');
    }
  }
  /////finish sub_btn_Box

  .left_content{
    @include basic-padding(2rem);

    .s_content{
      padding-bottom:3rem;
    }

    .sc1{
      position:relative;
    }

    .web_block{
      display: block;
    }

    .block_btn{
      position:absolute;
      right:0;
      top:-50px;

      .sc1_btn{
        border: 1px solid map_get($use-color, border-c);
        border-radius: 30px;
        font-family: 'light_font';
        @include all-padding(0.5rem, 0.8rem);
        cursor: pointer;
        font-size: map_get($use-font, xsmall-f);
      }
      .sc1_btn2{
        margin-left:0.3rem;
      }
    }
  }


  .s_title{
    font-family: 'bold_font';
    font-size: map_get($use-font, medium2-f);
    border-left: 5px solid map_get($use-color, border-c);
    padding-left:10px;
    @include basic-padding(0.3rem);
    margin-bottom:1.5rem;
  }

  .minwon_table_box{
    width:800px;
    position:relative;
  }

  .table{
    border-collapse: collapse;
    width: 100%;
    thead{
      border-bottom: 1px solid map_get($use-color, strong-c);
    }
    th,
    td{
      padding-bottom:10px;
      margin-bottom:10px;
      text-align: center;
      padding-top:10px;
    }
  }
  .purple_line {
    width: 100%;
    background-image:url('../images/bg.png');
    height:45px;
    margin-bottom:3rem;
    margin-top:9rem;
  }
}

//////input_table
.form_box{
  display: inline-block;
  padding-right:1rem;
}

.input_table_box{
  width: 800px;
  margin-top:3rem;
}
.input_table{
  width:100%;
  th,
  td{
    text-align: left!important;
  }
  td{
    text-align: left;
  }

  .person_id,
  .person_title{
    width: 80%;
    border:0;
    background-color: #eeeeee;
    height: 30px;
    outline: none;
    padding-left:15px;
  }

  .minwon_txt{
    border: 1px solid #eee;
    width: 80%;
    height: 135px;
    overflow-y:auto;
    outline:none;
    padding-left:15px;
    padding-top:15px;
    display: block;
  }

  .reply_txt{
    border: 1px solid #eee;
    width: 65%;
    height: 50px;
    overflow-y:auto;
    outline:none;
    padding-left:15px;
    padding-top:15px;
    display: inline-block;
    vertical-align: text-top;
  }

  .reply_btn{
    width: 14%;
    height: 67px;
    line-height: 67px;
    background-color: map_get($use-color, s_btn4-c);
    display: inline-block;
    vertical-align: text-top;
    border:none;
    color: map_get($use-color, white-c);
    font-family: light_font;
    font-size: map_get($use-font,xsmall-f );
    border-radius: 3px;
  }

  .v_top{
    vertical-align: top;
  }
}

.min_btn_box{
  width: 800px;
  margin-top:3rem;
  text-align: center;
  .submit_btn,
  .before_btn{
    border:none;
    border-radius: 24px;
    padding:0.8rem 2.5rem;
    font-size: map_get($use-font, xsmall3-f);
    color: map_get($use-color, white-c);
    font-family: light_font;
  }
  .submit_btn{
    background-color: map_get($use-color, gnb-c);
  }
  .before_btn{
    background-color: map_get($use-color, btn3-c);
  }
}

.quick_box{
  background-image:url('../images/sub/quick_bg.png');
  width: 90px;
  height: 160px;
  position:absolute;
  top:0;
  left:-14%;
  font-family: bold_font;
  .quick_list{
    padding-top:2rem;
    padding-left:0.5rem;
    li{
      height: 17px;
      a:link,
      a:visited{
        font-size: map_get($use-font, xsmall4-f);
        text-decoration: none;
        color: map_get($use-color, strong-c);
        font-family: bold_font;
      }
    }
  }
}

/////quick_menu
.quick_txt{
  font-size: map_get($use-font, xsmall4-f);
  padding-left:0.3rem;
  &.quick_txt1{
    color: map_get($use-color, gnb-c);
    margin-top:0.5rem;
  }
  &.quick_txt2{
    color: map_get($use-color, white-c);
    margin-top:0.6rem;
    padding-left:0.8rem;
  }
}
////// quick_menu finsih


/////popup
.popup{
  background-image:url('../images/sub/popup.png');
  width: 320px;
  height: 320px;
  position:absolute;
  bottom:-120px;
  right:-350px;
  .close_btn{
    position:absolute;
    right:10px;
    top:10px;
    cursor: pointer;
    @include btn-style(basic);
    .line{
      display: block;
      width:27px;
      background-color: #bbb;
      height: 2px;
    }
    .line1{
      transform: rotate(45deg);
    }
    .line2{
      transform: rotate(-45deg);
      margin-top:-2px;

    }
  }
}
/////finish quick_menu

/////purple_line
.purple_line{
  .footer_desc{
    text-align: center;
    color: map_get($use-color, white-c);
    font-size: map_get($use-font, small-f);
    line-height: 45px;
    .footer_icon{
      background-image:url('../images/sub/footer_icon.png');
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}