
          <% include ./include/header.ejs %>
        <main class="main sub_page admin_page">

          <div class="grid1 admin_right_menu">
            <div class="admin_menu">
              <ul class="admin_menu_list">
                <li>
                  <a href="#" title="새등록 민원 메뉴 바로가기 링크">
                        <span class="menu_icon">
                          <img src="/images/admin/right_menu_icon1.png"/>
                        </span>
                    <span class="menu_txt">새등록 민원</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="민원 관리 메뉴 바로가기 링크">
                        <span class="menu_icon">
                          <img src="/images/admin/right_menu_icon2.png"/>
                        </span>
                    <span class="menu_txt">민원 관리</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="지원 민원 메뉴 바로가기 링크">
                        <span class="menu_icon">
                          <img src="/images/admin/right_menu_icon3.png"/>
                        </span>
                    <span class="menu_txt">지연 민원</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="Q&amp;A 메뉴 바로가기 링크">
                        <span class="menu_icon">
                          <img src="/images/admin/right_menu_icon4.png"/>
                        </span>
                    <span class="menu_txt">Q&amp;A</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="해당기관 요청 메뉴 바로가기 링크">
                        <span class="menu_icon">
                          <img src="/images/admin/right_menu_icon5.png"/>
                        </span>
                    <span class="menu_txt">해당기관 요청</span>
                  </a>
                  </a>
                </li>
              </ul> <!-- END admin_menu_list-->
            </div> <!-- END admin_menu-->
            <div class="admin_bottom_menu">
              <img src="/images/admin/right_bottom_menu.png"/>
            </div>
          </div> <!-- END right_content-->

          <div class="grid2 sub_inner_box">
            <div class="container_980">

              <div class="left_content">
                <div class="admin_info">

                  <h4 class="admin_parson">
                    <span class="admin_name">홍 현 민</span>
                    <span class="admin_star">
                      <span class="c_red">&starf; &starf; &starf;</span>
                      <span class="c_gray">&starf; &starf;</span>
                    </span>
                  </h4>

                  <p class="admin_stair">
                    민원처리&middot;관리자
                    <a href="#" class="admin_stair_link">등급조정</a>
                  </p>

                  <p class="admin_exp">
                    <i class="fas fa-award"></i>
                    8,782 exp
                  </p>
                </div> <!-- END admin_info-->

                <section class="s_content sc1">

                  <ul class="m_list_tab clearfix">
                    <li>
                      <a href="#" title="오늘 등록 민원 테이블 보기 링크">오늘 등록 민원</a>
                    </li>
                    <li>
                      <a href="#" title="처리중 테이블 보기 링크">처리중</a>
                    </li>
                    <li>
                      <a href="#" title="블록 생성 테이블 보기 링크">블록 생성</a>
                    </li>
                    <li>
                      <a href="#" title="오늘 등록 민원 테이블 보기 링크">Q&amp;A</a>
                    </li>
                    <li>
                      <a href="#" title="관리자 변경 테이블 보기 링크">관리자 변경</a>
                    </li>
                    <li>
                      <a href="#" title="지급 보상 토큰 테이블 보기 링크">지급 보상 토큰</a>
                    </li>
                    <li>
                      <a href="#" title="지급 준비 토큰 테이블 보기 링크">지급 준비 토큰</a>
                    </li>
                  </ul> <!-- END m_list_tab-->

                  <div class="m_sc1_inner">
                    <article class="a3 a31">
                      <div class="m_sc1_inner_box">
                        <ul class="admin_minwon_num_box">
                          <li>
                            <div class="admin_num_box">
                              <strong class="num num1">12</strong>
                              <span class="txt txt1">시설관리</span>
                            </div> <!-- END admin_num_box--->
                          </li>
                          <li>
                            <div class="admin_num_box">
                              <strong class="num num2">3</strong>
                              <span class="txt txt2">지역 단체 관련</span>
                            </div> <!-- END admin_num_box--->
                          </li>
                        </ul>
                        <div class="minwon_table_cell">

                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/admin/detail">
                                광역버스노선의 확충이 필요합니다.
                              </a>
                            </h6>
                          </div> <!--- END minwon_title-->
                        </div> <!-- END Minwon_table_cell-->
                        <div class="minwon_table_cell">

                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/admin/detail">
                                광역버스노선의 확충이 필요합니다.
                              </a>
                            </h6>
                          </div> <!--- END minwon_title-->
                        </div> <!-- END Minwon_table_cell-->
                        <div class="minwon_table_cell">

                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/admin/detail">
                                광역버스노선의 확충이 필요합니다.
                              </a>
                            </h6>
                          </div> <!--- END minwon_title-->
                        </div> <!-- END Minwon_table_cell-->
                        <div class="minwon_table_cell">

                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/admin/detail">
                                광역버스노선의 확충이 필요합니다.
                              </a>
                            </h6>
                          </div> <!--- END minwon_title-->
                        </div> <!-- END Minwon_table_cell-->
                        <div class="admin_more_box">
                          <button class="more_btn" type="button">더보기 &gt;&gt;</button>
                        </div> <!-- END admin_more-box-->
                      </div> <!-- END inner_left_box-->
                    </article>

                    <article class="a3 a32">
                      <div class="m_sc1_inner_box">
                        <ul class="admin_minwon_num_box">
                          <li>
                            <div class="admin_num_box">
                              <strong class="num num1">27</strong>
                              <span class="txt txt1">도민 참여 민원</span>
                            </div> <!-- END admin_num_box--->
                          </li>
                          <li>
                            <div class="admin_num_box">
                              <strong class="num num2">3</strong>
                              <span class="txt txt2">후원 요청</span>
                            </div> <!-- END admin_num_box--->
                          </li>
                        </ul>

                        <div class="minwon_table_cell">
                          <div class="minwon_reply d_inline_block">
                            <i class="far fa-comment"></i>
                            <span class="m_data1">12</span>
                          </div> <!-- END minwon_reply-->

                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/admin/detail">
                                광역버스노선의 확충이 필요합니다.
                              </a>
                            </h6>
                          </div> <!--- END minwon_title-->
                        </div> <!-- END Minwon_table_cell-->

                        <div class="minwon_table_cell">
                          <div class="minwon_reply d_inline_block">
                            <i class="far fa-comment"></i>
                            <span class="m_data1">12</span>
                          </div> <!-- END minwon_reply-->

                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/admin/detail">광역버스노선의 확충이 필요합니다.22</a>
                            </h6>
                          </div> <!--- END minwon_title-->
                        </div> <!-- END Minwon_table_cell-->

                        <div class="minwon_table_cell">
                          <div class="minwon_reply d_inline_block">
                            <i class="far fa-comment"></i>
                            <span class="m_data1">12</span>
                          </div> <!-- END minwon_reply-->

                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2"><a href="/admin/detail">광역버스노선의 확충이 필요합니다.2332</a></h6>
                          </div> <!--- END minwon_title-->

                        </div> <!-- END Minwon_table_cell-->

                        <div class="minwon_table_cell">
                          <div class="minwon_reply d_inline_block">
                            <i class="far fa-comment"></i>
                            <span class="m_data1">12</span>
                          </div> <!-- END minwon_reply-->

                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2"><a href="/admin/detail">광역버스노선의 확충이 필요합니다.2332</a></h6>
                          </div> <!--- END minwon_title-->
                        </div> <!-- END Minwon_table_cell-->

                        <div class="admin_more_box">
                          <button class="more_btn" type="button">더보기 &gt;&gt;</button>
                        </div> <!-- END admin_more-box-->
                      </div> <!-- END inner_left_box-->
                    </article>

                    <article class="a3 a33">
                      <div class="m_sc1_inner_box">
                        <ul class="admin_minwon_num_box">
                          <li>
                            <div class="admin_num_box">
                              <strong class="num num1">19</strong>
                              <span class="txt txt1">기부 적</span>
                            </div> <!-- END admin_num_box--->
                          </li>
                          <li>
                            <div class="admin_num_box">
                              <strong class="num num2">88</strong>
                              <span class="txt txt2">배분</span>
                            </div> <!-- END admin_num_box--->
                          </li>
                        </ul>

                        <div class="minwon_table_cell">
                          <div class="minwon_percent_box d_inline_block">
                            <span class="minwon_percent p_70"></span>
                          </div> <!-- END minwon_reply-->

                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/admin/detail">
                                광역버스노선의 확충이 필요합니다.
                              </a>
                            </h6>
                          </div> <!--- END minwon_title-->
                        </div> <!-- END Minwon_table_cell-->

                        <div class="minwon_table_cell">
                          <div class="minwon_percent_box d_inline_block">
                            <span class="minwon_percent p_20"></span>
                          </div> <!-- END minwon_reply-->
                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/admin/detail">광역버스노선의 확충이 필요합니다.22</a>
                            </h6>
                          </div> <!--- END minwon_title-->
                        </div> <!-- END Minwon_table_cell-->

                        <div class="minwon_table_cell">
                          <div class="minwon_percent_box d_inline_block">
                            <span class="minwon_percent p_35"></span>
                          </div> <!-- END minwon_reply-->

                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2"><a href="/admin/detail">광역버스노선의 확충이 필요합니다.2332</a></h6>
                          </div> <!--- END minwon_title-->

                        </div> <!-- END Minwon_table_cell-->

                        <div class="minwon_table_cell">
                          <div class="minwon_percent_box d_inline_block">
                            <span class="minwon_percent p_90"></span>
                          </div> <!-- END minwon_reply-->

                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2"><a href="/admin/detail">광역버스노선의 확충이 필요합니다.2332</a></h6>
                          </div> <!--- END minwon_title-->
                        </div> <!-- END Minwon_table_cell-->

                        <div class="admin_more_box">
                          <button class="more_btn" type="button">더보기 &gt;&gt;</button>
                        </div> <!-- END admin_more-box-->
                      </div> <!-- END inner_left_box-->
                    </article>
                  </div> <!-- END m_sc1_inner -->
                </section> <!-- END sc1-->

                <section class="s_content sc2">
                  <div class="admin_left">

                    <article class="admin_top_box">
                      <h4 class="admin_title">지급보상 현황</h4>
                      <div class="a4 a41">
                        <div class="percent p_1">
                          <span class="p_ing1"></span>
                        </div>
                        <p class="p_txt">민원제안</p>
                      </div>
                      <div class="a4 a42">
                        <div class="percent p_2">
                          <span class="p_ing2"></span>
                        </div>
                        <p class="p_txt">후원/기부</p>
                      </div>
                      <div class="a4 a43">
                        <div class="percent p_3">
                          <span class="p_ing3"></span>
                        </div>
                        <p class="p_txt">댓글 참여</p>
                      </div>
                      <div class="a4 a44">
                        <strong class="num num3">+142</strong>
                        <p class="p_txt p_txt2">새 참여 도민</p>
                      </div>
                    </article> <!-- END admin_top_box-->

                    <article class="admin_bottom_box">
                      <h4 class="admin_title">경기내 상업시설 결제</h4>
                      <div class="admin_b_img">
                        <img src="/images/admin/left_bottom_menu.png"/>
                      </div>
                    </article>
                  </div> <!-- END admin_left-->

                  <div class="admin_right">
                    <div class="m_sc1_inner">
                      <div class="inner_left_box m_sc1_inner_box">
                        <h4 class="admin_title">도 전역 긴급공지</h4>

                        <div class="minwon_table_cell">
                          <div class="notice_kind d_inline_block">
                            <span class="m_data1">기상</span>
                          </div> <!-- END minwon_reply-->

                          <div class="admin_kind d_inline_block">
                            <p class="m_data4">긴급재난문자 발송</p>
                          </div> <!--- END minwon_title-->


                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/token/detail">
                                광역버스노선의 확충이 필요합니다.
                              </a>
                            </h6>
                          </div> <!--- END minwon_title-->

                          <div class="minwon_time d_inline_block">
                            <i class="far fa-clock"></i>
                            <span class="m_data3">9:30 PM</span>
                          </div> <!-- END minwon_titme-->
                        </div> <!-- END Minwon_table_cell-->
                        <div class="minwon_table_cell">
                          <div class="notice_kind d_inline_block">
                            <span class="m_data1">기상</span>
                          </div> <!-- END minwon_reply-->

                          <div class="admin_kind d_inline_block">
                            <p class="m_data4">긴급재난문자 발송</p>
                          </div> <!--- END minwon_title-->


                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/token/detail">
                                광역버스노선의 확충이 필요합니다.
                              </a>
                            </h6>
                          </div> <!--- END minwon_title-->

                          <div class="minwon_time d_inline_block">
                            <i class="far fa-clock"></i>
                            <span class="m_data3">9:30 PM</span>
                          </div> <!-- END minwon_titme-->
                        </div> <!-- END Minwon_table_cell-->
                        <div class="minwon_table_cell">
                          <div class="notice_kind d_inline_block">
                            <span class="m_data1">기상</span>
                          </div> <!-- END minwon_reply-->

                          <div class="admin_kind d_inline_block">
                            <p class="m_data4">긴급재난문자 발송</p>
                          </div> <!--- END minwon_title-->


                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/token/detail">
                                광역버스노선의 확충이 필요합니다.
                              </a>
                            </h6>
                          </div> <!--- END minwon_title-->

                          <div class="minwon_time d_inline_block">
                            <i class="far fa-clock"></i>
                            <span class="m_data3">9:30 PM</span>
                          </div> <!-- END minwon_titme-->
                        </div> <!-- END Minwon_table_cell-->
                        <div class="minwon_table_cell">
                          <div class="notice_kind d_inline_block">
                            <span class="m_data1">기상</span>
                          </div> <!-- END minwon_reply-->

                          <div class="admin_kind d_inline_block">
                            <p class="m_data4">긴급재난문자 발송</p>
                          </div> <!--- END minwon_title-->


                          <div class="minwon_title d_inline_block">
                            <h6 class="m_data2">
                              <a href="/token/detail">
                                광역버스노선의 확충이 필요합니다.
                              </a>
                            </h6>
                          </div> <!--- END minwon_title-->

                          <div class="minwon_time d_inline_block">
                            <i class="far fa-clock"></i>
                            <span class="m_data3">9:30 PM</span>
                          </div> <!-- END minwon_titme-->
                        </div> <!-- END Minwon_table_cell-->
                        <div class="admin_more_box">
                          <button class="more_btn" type="button">더보기 &gt;&gt;</button>
                        </div> <!-- END admin_more-box-->
                      </div> <!-- END inner_left_box-->

                    </div> <!-- END m_sc1_inner -->
                  </div>
                </section> <!-- END s_content-->
              </div> <!-- END left_content-->

            </div>
          </div>

          <div class="grid3 side_bar"></div>

            <% include ./include/purple_line.ejs%>

      </main> <!-- END main-->

          <% include ./include/footer.ejs %>
