
          <% include ./include/header.ejs %>
      <main class="main main_page">

         <% include ./include/gnb.ejs%>

        <section class="visual">
          <div class="container_980">
            <div class="btn_big_box">
              <article class="a4 a41">
                <div class="btn_box">
                  <a href="/minwon" class="btn minwon_btn">
                    <span class="icon icon1"></span>
                    <span class="inner_txt">민원 올리기</span>
                  </a>
                </div> <!-- END btn_box-->
              </article> <!-- END a4 a41-->

              <article class="a4 a42">
                <div class="btn_box">
                  <a href="#" title="실시간 처리 보기 링크" class="btn live_btn">
                    <span class="icon icon2"></span>
                    <span class="inner_txt">실시간<br/>처리 보기</span>
                  </a>
                </div> <!-- END btn_box-->
              </article> <!-- END a4 a42-->

              <article class="a4 a43">
                <p class="desc">투명하고 긍정하게<br/>도민의 불편을 해결합니다!</p>
              </article> <!-- END a4 a43-->

              <article class="a4 a44">
                <div class="btn_box">
                  <a href="#" title="이웃 알리미 바로가기 링크" class="btn info_btn">
                    <span class="icon icon3"></span>
                    이웃 알리미
                  </a>

                  <a href="#" title="토큰 모으기 바로가기 링크" class="btn token_btn">
                    <span class="icon icon4"></span>
                    토큰 모으기
                  </a>

                  <a href="#" title="나눔 더하기 바로가기 링크" class="btn plus_btn">
                    <span class="icon icon5"></span>
                    나눔 더하기
                  </a>
                </div> <!-- END btn_box-->
              </article> <!-- END a4 a44-->
            </div> <!-- END btn_box-->
          </div> <!-- END container-->
        </section> <!-- END visual-->

        <section class="m_content mc1">
          <div class="container_980">
            <div class="article_box">
              <article class="a3 a31">
                <div class="icon icon6"></div>
                <a href="#" title="경기도 토큰의 사용처 더보기 링크" class="more_btn">&gt; 더보기</a>
                <p class="article_desc">
                  경기도 토큰의 다양한 사용처를 둘러보세요.<br/>
                  물건을 살 수도, 문화를 즐길 수도, 어려운 이웃을<br/>
                  도울 수 있어요!
                </p> <!-- END article_Desc-->
              </article> <!-- END a3 a31-->

              <article class="a3 a32">
                <div class="icon icon7"></div>
                <a href="#" title="경기도가 해결한 일 응원하기 더보기 링크" class="more_btn">&gt; 더보기</a>
                <p class="article_desc">
                  경기도가 해결한 여러 일들을 내손으로 직접 응원<br/>
                  해보세요 응원의 힘이 모이면 토큰으로<br/>
                  돌아옵니다!
                </p> <!-- END article_Desc-->
              </article> <!-- END a3 a31-->

              <article class="a3 a33">
                <div class="icon icon8"></div>
                <a href="#" title="이웃들의 소식 듣기  더보기 링크" class="more_btn">&gt; 더보기</a>
                <p class="article_desc">
                  도움의 손길이 닿은 우리 이웃들의 소식을<br/>
                  들어보세요. 더 커져가는 나눔의 기쁨을 경기도가<br/>
                  합께합니다.
                </p> <!-- END article_Desc-->
              </article> <!-- END a3 a31-->
            </div> <!-- END article_box-->
          </div> <!-- END container-->
        </section> <!-- END m_content mc1-->
      </main> <!-- END main-->

          <% include ./include/footer.ejs %>
