
          <% include ./include/header.ejs %>
        <main class="main sub_page share_page">

            <% include ./include/gnb.ejs%>

          <div class="sub_inner_box">
            <div class="container_980">

              <div class="left_content">
                <section class="s_content sc1">
                  <div class="share_visual">
                    <img src="/images/sub/share_visual.png"/>
                  </div>
                </section> <!-- END sc1-->

                <section class="s_content sc2 clearfix">
                  <div class="left_box">
                    <h3 class="s_title">이웃들에게 나누는 무한사랑,<br/>토큰 후원만 가능한가요?</h3>
                    <p class="s_desc">
                      <span class="web_block">어려운 환경에 있는 어르신을 위해 우리의 작은</span>
                      <span class="web_block"> 정성을 모아 큰 기쁨이 되게 하는 경제적 지원</span>
                      <span class="web_block"> 사업입니다.</span>
                    </p>
                    <div class="block_btn_box">
                      <a href="#" title="정기후원 신청하기 버튼" class="sc1_btn">정기후원 신청하기</a>
                    </div>
                  </div>
                  <div class="right_box">
                    <div class="share_icon_box">
                      <div class="a3 a31">
                        <div class="share_icon"><img src="/images/sub/share_icon1.png"/></div>
                        <h4 class="s_title">결연 후원</h4>
                        <p class="s_desc">독거 무의탁 어르신께<br/>매월 일정 금액을 후원</p>
                      </div>
                      <div class="a3 a32">
                        <div class="share_icon"><img src="/images/sub/share_icon2.png"/></div>
                        <h4 class="s_title">기금 후원</h4>
                        <p class="s_desc">노인복지사업을 위한<br/>후원금</p>
                      </div>
                      <div class="a3 a33">
                        <div class="share_icon"><img src="/images/sub/share_icon3.png"/></div>
                        <h4 class="s_title">물품 후원</h4>
                        <p class="s_desc">어르신께 생활에 필요한<br/>각종 생활용품 주부식류<br/>의료용품 등</p>
                      </div>
                    </div> <!-- END share_icon_box-->
                  </div>
                </section> <!-- END sc1-->
                <section class="s_content sc3 clearfix">
                  <h3 class="s_title">지금 진행중 후원 모금</h3>
                  <div class="a3 a31">
                    <img src="/images/sub/share_test1.png"/>
                  </div>
                  <div class="a3 a32">
                    <img src="/images/sub/share_test2.png"/>
                  </div>
                  <div class="a3 a33">
                    <img src="/images/sub/share_test3.png"/>
                  </div>
                </section> <!-- END sc3-->
              </div> <!-- END left_content-->

              <% include ./include/sub_btn.ejs %>
              <% include ./include/quick.ejs %>

            </div> <!-- END container-->
          </div> <!-- END sub_inner_box-->

            <% include ./include/purple_line.ejs%>

      </main> <!-- END main-->

          <% include ./include/footer.ejs %>
