
          <% include ./include/header.ejs %>
        <main class="main sub_page minwon_detail_page">

            <% include ./include/gnb.ejs%>

          <div class="sub_inner_box">
            <div class="container_980">

              <div class="left_content">
                <section class="s_content sc1">
                  <h3 class="s_title">민원 상세</h3>

                  <form class="minwon_form">

                    <div class="input_table_box">
                      <table class="table input_table">
                        <colgroup>
                          <col span="1" style="width:15%"/>
                          <col span="1" style="width:35%;">
                          <col span="1" style="width:15%;">
                          <col span="1" style="width:35%;">
                        </colgroup>
                        <tbody>
                        <tr>
                          <th>민원구분</th>
                          <td>
                            <span class="minwon_kind">개인</span>
                          </td>
                          <th>등록일시</th>
                          <td>
                            <div class="minwon_time_box">
                              <i class="far fa-clock"></i>
                              <span class="minwon_time">12:24 2018-07-19</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th>신청인 ID</th>
                          <td colspan="3">
                            <span class="person_id">2CGFA</span>
                          </td>
                        </tr>
                        <tr>
                          <th>민원 제목</th>
                          <td colspan="3">
                            <span class="person_title">자전거수리어쩌고저쩌고</span>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <span class="v_top">민원 내용</span>
                          </th>
                          <td colspan="3">
                            <div class="minwon_txt ">
                              <p>수익성과 이용시민이 적다는 이유로 노선폐지 한다는 것을 알고...이의제기를 하고자 합니다.<br/>
                              그 동안, 많치도 않는 버스에 배차시간도 길고...딱 정해진 출퇴근 시간에만 운행하였던 8361버스를 애용해왔던 시민들은 어떻게 하라는 것인지 묻고싶습니다.<br/>
                              이번에 개통되는 지하철 9호선 노선과 8361 버스노선과는 전혀 상관없는데..<br/>
                              개통시점에 맞추어 폐선을 한다는것은 다시 자가운전을 하라는 것인지요?<br/>
                              아니면, 1시간 10분이상씩 걸리는 지하철 또는 2시간 걸리는 버스를 대안으로 이용하라는 것인지??<br/>
                              차라리...수익 및 이용자 감소라고 하면, 이를 개선하기 위해...아래와 같이<br/>
                              시민들이 자발적으로 대중교통을 이용할 수 있게, 더 노력 하신 후, 폐선결정을 내린것이 옳다고 사려됩니다.<br/>
                              </p>
                              <p>
                              . 버스노선 및 정류장 홍보<br/>
                              . 버스노선의 일부 조정<br/>
                              . 버스 배차시간 확대<br/>
                              </p>
                              <p>
                              8361버스를 이용하시는 분들은 몇 대 안되는 버스에, 배차시간도 길어, 버스 도착시간대를 미리 맞추어<br/>
                              이용하시는 분들입니다.   운영수익성 면에서나 노선 효율 측면에서 전면적인 검토를 요청하는 바입니다.<br/>
                              다시한번, 8361버스 폐지계획을 철회해주시기 바라며...  다시한번 검토 바랍니다. 감사합니다.
                              </p>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <span class="v_top">도민들의 참여</span>
                          </th>
                          <td colspan="3">
                            <div class="reply_box">
                              <div class="reply_small_box">
                                <div class="reply_check_box d_inline_block">
                                  <i class="fas fa-check-circle"></i>
                                  <span class="reply_check">12</span>
                                </div>
                                <div class="reply_id_box d_inline_block">
                                  <span class="reply_id">5Dnger</span>
                                </div>
                                <div class="reply_title_box d_inline_block">
                                  <p class="reply_title">응원합니다.</p>
                                </div>
                                <div class="reply_time_box d_inline_block">
                                  <i class="far fa-clock"></i>
                                  <span class="reply_time">12:24 2018-07-19</span>
                                </div>
                              </div>
                              <div class="reply_small_box">
                                <div class="reply_check_box d_inline_block">
                                  <i class="far fa-check-circle"></i>
                                  <span class="reply_check">12</span>
                                </div>
                                <div class="reply_id_box d_inline_block">
                                  <span class="reply_id">5Dnger</span>
                                </div>
                                <div class="reply_title_box d_inline_block">
                                  <p class="reply_title">응원합니다.</p>
                                </div>
                                <div class="reply_time_box d_inline_block">
                                  <i class="far fa-clock"></i>
                                  <span class="reply_time">12:24 2018-07-19</span>
                                </div>
                              </div>
                              <div class="reply_small_box">
                                <div class="reply_check_box d_inline_block">
                                  <i class="far fa-check-circle"></i>
                                  <span class="reply_check">12</span>
                                </div>
                                <div class="reply_id_box d_inline_block">
                                  <span class="reply_id">5Dnger</span>
                                </div>
                                <div class="reply_title_box d_inline_block">
                                  <p class="reply_title">응원합니다.</p>
                                </div>
                                <div class="reply_time_box d_inline_block">
                                  <i class="far fa-clock"></i>
                                  <span class="reply_time">12:24 2018-07-19</span>
                                </div>
                              </div>
                              <div class="reply_small_box">
                                <div class="reply_check_box d_inline_block">
                                  <i class="far fa-check-circle"></i>
                                  <span class="reply_check">12</span>
                                </div>
                                <div class="reply_id_box d_inline_block">
                                  <span class="reply_id">5Dnger</span>
                                </div>
                                <div class="reply_title_box d_inline_block">
                                  <p class="reply_title">응원합니다.</p>
                                </div>
                                <div class="reply_time_box d_inline_block">
                                  <i class="far fa-clock"></i>
                                  <span class="reply_time">12:24 2018-07-19</span>
                                </div>
                              </div>
                              <div class="reply_small_box">
                                <div class="reply_check_box d_inline_block">
                                  <i class="far fa-check-circle"></i>
                                  <span class="reply_check">12</span>
                                </div>
                                <div class="reply_id_box d_inline_block">
                                  <span class="reply_id">5Dnger</span>
                                </div>
                                <div class="reply_title_box d_inline_block">
                                  <p class="reply_title">응원합니다.</p>
                                </div>
                                <div class="reply_time_box d_inline_block">
                                  <i class="far fa-clock"></i>
                                  <span class="reply_time">12:24 2018-07-19</span>
                                </div>
                              </div>
                            </div> <!-- END reply_box-->
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <span class="v_top">댓글 달기</span>
                          </th>
                          <td colspan="3">
                            <div class="reply_write_box">
                              <textarea rows="4" cols="50" class="reply_txt" disabled="disabled"></textarea>
                              <button type="button" class="reply_btn">댓글 달기</button>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table> <!-- END minwon_table-->

                    </div> <!-- END minwon_table_box-->
                    <div class="min_btn_box">
                      <button type="submit" class="vote_btn">응원하기</button>
                      <button type="submit" class="submit_btn">확 인</button>
                    </div> <!-- END min_btn_box-->

                  </form>
                </section> <!-- END sc1-->
              </div> <!-- END left_content-->

                <% include ./include/sub_btn.ejs %>
                <% include ./include/quick.ejs %>

            </div> <!-- END container-->
          </div> <!-- END sub_inner_box-->

            <% include ./include/purple_line.ejs %>

      </main> <!-- END main-->

          <% include ./include/footer.ejs %>
