
          <% include ./include/header.ejs %>
        <main class="main sub_page minwon_page2">

            <% include ./include/gnb.ejs%>

          <div class="sub_inner_box">
            <div class="container_980">

              <div class="left_content">
                <section class="s_content sc1">
                  <h3 class="s_title">민원 기본 정보</h3>
                  <div class="minwon_table_box">
                    <table class="table minwon_table">
                      <thead>
                      <tr>
                        <th>최초 제안자</th>
                        <th>제안 등록</th>
                        <th>조치 단계</th>
                        <th>처리 담당자</th>
                        <th>관할 부서</th>
                        <th>처리 예정일</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr>
                        <td>
                        <span class="first_user">
                          G014gh
                        </span>
                        </td>
                        <td>
                        <span class="create_block">
                          2018.08.14<br/>11:56:27
                        </span>
                        </td>
                        <td>
                        <span class="ing_block">
                          현장 관할자 이관
                        </span>
                        </td>
                        <td>
                        <span class="admin">
                          이명욱 사무관
                        </span>
                        </td>
                        <td>
                        <span class="admin_work">
                          관할 부서
                        </span>
                        </td>
                        <td>
                        <span class="block_date">
                          처리 예정일
                        </span>
                        </td>
                      </tr>
                      </tbody>
                    </table> <!-- END minwon_table-->

                    <div class="block_btn">
                      <button type="button" class="sc1_btn sc1_btn1">블록정보로 조회하기</button>
                      <button type="button" class="sc1_btn sc1_btn2">응원하기</button>
                    </div> <!-- END black_Btn-->
                  </div> <!-- END minwon_table_box-->

                </section> <!-- END sc1-->
                <section class="s_content sc2">

                  <h3 class="s_title">민원 진행상황</h3>
                  <div class="minwon_icon_box">
                    <ol class="minwon_inner_box clearfix">
                      <li>
                        <div class="m_icon m_icon1">
                          <div class="m_icon_img"></div>
                          <p class="m_txt">담당자 민원열람</p>
                        </div>
                      </li>

                      <li>
                        <div class="m_icon m_icon2">
                          <div class="m_icon_img"></div>
                          <p class="m_txt">관제 기관 공유/이관</p>
                        </div>
                      </li>

                      <li>
                        <div class="m_icon m_icon3">
                          <div class="m_icon_img"></div>
                          <p class="m_txt">기관,진행 기록</p>
                        </div>
                      </li>

                      <li>
                        <div class="m_icon m_icon4 on">
                          <div class="m_icon_img"></div>
                          <p class="m_txt">처리확인</p>
                        </div>
                      </li>

                      <li>
                        <div class="m_icon m_icon5">
                          <div class="m_icon_img"></div>
                          <p class="m_txt">처리정보 블록생성</p>
                        </div>
                      </li>

                      <li>
                        <div class="m_icon m_icon6">
                          <div class="m_icon_img"></div>
                          <p class="m_txt">참여 보상 지급</p>
                        </div>
                      </li>
                    </ol> <!-- END minwon_icon-->
                  </div> <!-- END minwon_icon_box-->
                  <div class="minwon_table_box">
                    <table class="table ing_table">
                      <thead>
                      <tr>
                        <th>일시</th>
                        <th>정보 저장</th>
                        <th>처리 현재</th>
                        <th>담당자</th>
                        <th>응원 참여자</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr>
                        <td>
                        <span class="b_date">
                          18.08.17
                        </span>
                        </td>
                        <td>
                        <span class="b_save">
                          TALKJFLENOLJFLADEOCAKLA
                        </span>
                        </td>
                        <td>
                        <span class="b_present">
                          시설팀 현장 파견
                        </span>
                        </td>
                        <td>
                        <span class="b_admin">
                          정대용
                        </span>
                        </td>
                        <td>
                        <span class="b_num">
                          11 명
                        </span>
                        </td>
                      </tr>
                      </tbody>
                    </table> <!-- END minwon_table-->
                  </div> <!-- END minwon_table_box-->
                </section> <!-- END sc1-->
                <section class="s_content sc3">
                  <h3 class="s_title">민원 문의</h3>
                  <p class="s_desc">
                    <span class="web_block">민원 처리 완료시간은 실제 현장에서의 조치 완료 시각과 차이가 있을 수 있습니다.</span>
                    <span class="web_block">민원 진행 절차에 따른 정보 제공은 최초 민원자에게 발송되는 블록 정보로도 상세 확인이 가능합니다.</span>
                    <span class="web_block">조회 및 응원 참여는 블록에 기록되는 시점으로부터 영구적으로 가능하며 수정,조작 되지 않습니다.</span>
                    <span class="web_block">자세한 사항은 경기도 대표 전화 031-120 (연중무후 24시간)으로 문의 하실 수 있습니다.</span>
                  </p>
                </section> <!-- END sc3-->
              </div> <!-- END left_content-->

              <% include ./include/sub_btn.ejs %>
              <% include ./include/quick.ejs %>

            </div> <!-- END container-->
          </div> <!-- END sub_inner_box-->

            <% include ./include/purple_line.ejs%>

      </main> <!-- END main-->

          <% include ./include/footer.ejs %>
