<% include ./include/header.ejs %>
<main class="main sub_page minwon_page">
    <% include ./include/gnb.ejs%>

          <div class="sub_inner_box">
            <div class="container_980">

            <div class="left_content">
                <section class="s_content sc2">
                    <div class="inner_box">
                        <h3 class="s_title">
                            <span class="web_block">국민소통창구로서, 「민원 처리에 관한 법률 및 관련 규정」에 따라</span>
                            <span class="web_block">행정(공공)기관에 처분 등 특정한 행위를 요구하는 민원을 제출할 수 있습니다.</span>
                        </h3>
                        <p class="s_desc">법령ㆍ제도ㆍ절차 등 행정업무에 관한 질의 또는 설명이나 해석의 요구</p>
                        <p class="s_desc">
                            <span class="web_block">행정기관의 위법ㆍ부당하거나 소극적인 처분 및 불합리한 행정제도로 인해 국민의 권리를 침해하거나 불편 또는</span>
                            <span class="web_block">부담을 주는 사항의 해결 요구 등</span>
                        </p>
                    </div>
                </section> <!-- END s_content-->

                <section class="s_content sc1">
                    <h3 class="s_title">민원 신청</h3>

                    <form class="minwon_form" method="post" action="/post/postComplain">

                        <div class="input_table_box">
                            <table class="table input_table">
                                <colgroup>
                                    <col span="1" style="width:15%"/>
                                    <col span="2" style="width:85%;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>신청인 구분</th>
                                    <td>
                                        <div class="form_box">
                                            <input type="radio" name=type value="개인" id="one_person"/>
                                            <label for="one_person">개인</label>
                                        </div>

                                        <div class="form_box">
                                            <input type="radio" name=type value="단체" id="two_more"/>
                                            <label for="two_more">단체</label>
                                        </div> <!-- END form_box-->

                                        <div class="form_box">
                                            <input type="radio" name=type value="기관" id="company"/>
                                            <label for="company">기관</label>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th>신청인 ID</th>
                                    <td>
                                        <input type="text" class="person_id" name="userId" value="dany@weblockx.com">
                                    </td>
                                </tr>
                                <tr>
                                    <th>민원 제목</th>
                                    <td>
                                        <input type="text" class="complain_title" name="title">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="v_top">민원 내용</span>
                                    </th>
                                    <td>
                                        <textarea name="content" class="form-control" id="summernote"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th>처리 정보 받기</th>
                                    <td>
                                        <div class="form_box">
                                            <input type="checkbox" name="feedbackInfo" value="email"
                                                   id="email_send"/>
                                            <label for="email_send">상세내용 이메일 받기</label>
                                        </div>

                                        <div class="form_box">
                                            <input type="checkbox" name="feedbackInfo" value="sns" id="sns_send"/>
                                            <label for="sns_send">SMS문자 안내</label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table> <!-- END minwon_table-->
                        </div> <!-- END minwon_table_box-->
                        <div class="min_btn_box">
                            <button type="submit" class="submit_btn">민원 올리기</button>
                        </div> <!-- END min_btn_box-->

                    </form>
                </section> <!-- END sc1-->
            </div> <!-- END left_content-->

                <% include ./include/sub_btn.ejs %>
                <% include ./include/quick.ejs %>

        </div> <!-- END container-->
    </div> <!-- END sub_inner_box-->

    <% include ./include/purple_line.ejs%>

</main> <!-- END main-->


<footer class="footer">
    <div class="container">
    </div> <!-- END container-->
</footer> <!-- END footer-->
</div> <!-- END wrapper-->
</body>
</html>

<script src="/javascripts/jquery-1.12.3.min.js"></script>

<script src="/javascripts/bootstrap.min.js"></script>

<!-- bootstrap Toggle JS
============================================ -->
<script src="/javascripts/bootstrap-toggle.min.js"></script>


<!-- 스타일관련 -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
<!-- 자바스크립트관련 -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
<!-- 한글관련 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/lang/summernote-ko-KR.min.js"></script>


<script>
    $(document).ready(function(){

        $('#summernote').summernote({
            lang: 'ko-KR',
            height: 300,
            callbacks : {
                onImageUpload: function(files) {
                    sendFile(files[0]);
                }
            }
        });

        function sendFile(file, editor, welEditable) {
            data = new FormData();
            data.append("noticeImg", file);
            $.ajax({
                data: data,
                type: "POST",
                url: '/post/ajax_summernote/',
                cache: false,
                contentType: false,
                processData: false,
                success: function(url) {
                    $("#summernote").summernote("insertImage", url);
                }
            })
        }
    });

    $(".submit_btn").click(function () {
        var title = $(".complain_title").val();
        var content = $("#summernote").val();
        var type = $('input[name="type"]:checked').val();
        var feedbackInfo = $('input[name="feedbackInfo"]:checked').val();

        $.ajax({
            url: '/post/postComplain',
            type: 'POST',
            timeout: 2*60*60*1000,
            data: {title:title, content:content, type: type, feedbackInfo: feedbackInfo}
        }).done(function (result) {
            if(result.message === 'success') {
                alert('write success!');
                location.href = '/post/token/detail/'+result.permlink;
            }else{
                alert(result);
            }
        }).fail(function (err) {
            console.error(err);
        });

    })
</script>

