
          <% include ./include/header.ejs %>
        <main class="main sub_page">

            <% include ./include/gnb.ejs%>

          <div class="sub_inner_box">
            <div class="container_980">

              <div class="left_content">
                <section class="s_content sc1">
                  <h3 class="s_title">민원 보기</h3>

                  <form class="minwon_form">

                    <div class="input_table_box">
                      <table class="table input_table">
                        <colgroup>
                          <col span="1" style="width:15%"/>
                          <col span="2" style="width:85%;">
                        </colgroup>
                        <tbody>
                        <tr>
                          <th>민원 제목</th>
                          <td>
                            <input type="text" class="person_title" disabled="disabled">
                          </td>
                        </tr>
                        <tr>
                          <th>신청인 ID</th>
                          <td>
                            <input type="text" class="person_id" disabled="disabled">
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <span class="v_top">민원 내용</span>
                          </th>
                          <td>
                            <textarea rows="4" cols="50" class="minwon_txt" disabled="disabled"></textarea>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <span class="v_top">댓글 달기</span>
                          </th>
                          <td>
                            <textarea rows="4" cols="50" class="reply_txt" disabled="disabled"></textarea>
                            <button type="button" class="reply_btn">댓글 달기</button>
                          </td>
                        </tr>
                        </tbody>
                      </table> <!-- END minwon_table-->

                      <div class="reply_box">

                      </div> <!-- END reply_box-->

                    </div> <!-- END minwon_table_box-->
                    <div class="min_btn_box">
                      <button type="submit" class="before_btn">이전으로</button>
                      <button type="submit" class="submit_btn">보팅하기</button>
                    </div> <!-- END min_btn_box-->

                  </form>
                </section> <!-- END sc1-->
              </div> <!-- END left_content-->

                <% include ./include/sub_btn.ejs %>
                <% include ./include/quick.ejs %>

            </div> <!-- END container-->
          </div> <!-- END sub_inner_box-->

            <% include ./include/purple_line.ejs %>

      </main> <!-- END main-->

          <% include ./include/footer.ejs %>
