<% include ./include/header.ejs %>
<main class="main sub_page">

    <div class="gnbbox">
        <div class="container">
            <nav class="gnb_innerbox">
                <h2 class="hidden">세계속의 경기도 주요메뉴</h2>
                <div class="hidden_menu">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div> <!-- END hidden_menu-->

                <ul class="gnb">
                    <li>
                        <a href="#" title="민원올리기 메뉴 바로가기 링크">민원 올리기</a>
                    </li>
                    <li>
                        <a href="#" title="실시간 처리 보기 메뉴 바로가기 링크">실시간 처리 보기</a>
                    </li>
                    <li>
                        <a href="#" title="이웃 알리미 메뉴 바로가기 링크">이웃 알리미</a>
                    </li>
                    <li>
                        <a href="#" title="토큰 모으기 메뉴 바로가기 링크">토큰 모으기</a>
                    </li>
                    <li>
                        <a href="#" title="나눔 더하기 메뉴 바로가기 링크">나눔 더하기</a>
                    </li>
                </ul> <!-- END gnb-->

                <div class="search_box">
                    <button class="search_btn" title="버튼을 누르면 검색기능이 나옵니다." type="button"></button>
                </div> <!-- END search_box-->

            </nav> <!-- END gnbbox-->
        </div> <!-- END container-->
    </div> <!-- END gnbbox-->

    <div class="sub_inner_box">
        <div class="container">

            <div class="left_content">
                <section class="s_content sc1">
                    <h3 class="s_title">민원 신청</h3>

                    <form class="minwon_form" method="post" action="/post/postComplain">

                        <div class="input_table_box">
                            <table class="table input_table">
                                <colgroup>
                                    <col span="1" style="width:15%"/>
                                    <col span="2" style="width:85%;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>신청인 구분</th>
                                    <td>
                                        <div class="form_box">
                                            <input type="radio" name=type value="개인" id="one_person"/>
                                            <label for="one_person">개인</label>
                                        </div>

                                        <div class="form_box">
                                            <input type="radio" name=type value="단체" id="two_more"/>
                                            <label for="two_more">단체</label>
                                        </div> <!-- END form_box-->

                                        <div class="form_box">
                                            <input type="radio" name=type value="기관" id="company"/>
                                            <label for="company">기관</label>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th>신청인 ID</th>
                                    <td>
                                        <input type="text" class="person_id" name="userId" value="dany@weblockx.com">
                                    </td>
                                </tr>
                                <tr>
                                    <th>민원 제목</th>
                                    <td>
                                        <input type="text" class="complain_title" name="title">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="v_top">민원 내용</span>
                                    </th>
                                    <td>
                                        <textarea name="content" class="form-control" id="summernote"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th>처리 정보 받기</th>
                                    <td>
                                        <div class="form_box">
                                            <input type="checkbox" name="feedbackInfo" value="email"
                                                   id="email_send"/>
                                            <label for="email_send">상세내용 이메일 받기</label>
                                        </div>

                                        <div class="form_box">
                                            <input type="checkbox" name="feedbackInfo" value="sns" id="sns_send"/>
                                            <label for="sns_send">SNS문자 안내</label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table> <!-- END minwon_table-->
                        </div> <!-- END minwon_table_box-->
                        <div class="min_btn_box">
                            <button type="submit" class="submit_btn">민원 올리기</button>
                        </div> <!-- END min_btn_box-->

                    </form>
                </section> <!-- END sc1-->
            </div> <!-- END left_content-->

            <div class="sub_btn_box">
                <div class="btn_box">

                    <a class="btn minwon_btn">
                        <span class="icon icon1"></span>
                        민원 올리기
                    </a>

                    <a href="#" title="실시간 처리 보기 링크" class="btn live_btn">
                        <span class="icon icon2"></span>
                        실시간<br/>처리 보기
                    </a>

                    <a href="#" title="이웃 알리미 바로가기 링크" class="btn info_btn">
                        <span class="icon icon2"></span>
                        이웃 알리미
                    </a>

                    <a href="#" title="토큰 모으기 바로가기 링크" class="btn token_btn">
                        <span class="icon icon3"></span>
                        토큰 모으기
                    </a>

                    <a href="#" title="나눔 더하기 바로가기 링크" class="btn plus_btn">
                        <span class="icon icon4"></span>
                        나눔 더하기
                    </a>

                </div> <!-- END btn_box-->
            </div> <!-- END sub_btn_box-->

        </div> <!-- END container-->
    </div> <!-- END sub_inner_box-->

    <div class="purple_line"></div>

</main> <!-- END main-->

<% include ./include/footer.ejs %>

<script src="/javascripts/jquery-1.12.3.min.js"></script>

============================================ -->
<script src="/javascripts/bootstrap.min.js"></script>

<!-- bootstrap Toggle JS
============================================ -->
<script src="/javascripts/bootstrap-toggle.min.js"></script>


<!-- 스타일관련 -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
<!-- 자바스크립트관련 -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
<!-- 한글관련 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/lang/summernote-ko-KR.min.js"></script>


<script>
    $(document).ready(function(){

        $('#summernote').summernote({
            lang: 'ko-KR',
            height: 300,
            callbacks : {
                onImageUpload: function(files) {
                    sendFile(files[0]);
                }
            }
        });

        function sendFile(file, editor, welEditable) {
            data = new FormData();
            data.append("noticeImg", file);
            $.ajax({
                data: data,
                type: "POST",
                url: '/post/ajax_summernote/',
                cache: false,
                contentType: false,
                processData: false,
                success: function(url) {
                    $("#summernote").summernote("insertImage", url);
                }
            })
        }
    });

    $(".submit_btn").click(function () {
        var title = $(".complain_title").val();
        var content = $("#summernote").val();
        var type = $('input[name="type"]:checked').val();
        var feedbackInfo = $('input[name="feedbackInfo"]:checked').val();

        $.ajax({
            url: '/post/postComplain',
            type: 'POST',
            data: {title:title, content:content, type: type, feedbackInfo: feedbackInfo}
        }).done(function (result) {
            if(result.message === 'success') {
                alert('write success!');
                location.href = '/minwon';
            }else{
                alert(result);
            }
        }).fail(function (err) {
            console.error(err);
        });

    })
</script>

