
          <% include ./include/header.ejs %>
        <main class="main sub_page">

            <% include ./include/gnb.ejs%>

          <div class="sub_inner_box">
            <div class="container_980">

              <div class="left_content">
                <section class="s_content sc1">
                  <h3 class="s_title">민원 리스트</h3>
                  <div class="minwon_table_box">
                    <table class="table table_list">
                      <thead>
                      <tr>
                        <th>NO</th>
                        <th>민원 제목</th>
                        <th>날짜</th>
                        <th>신청인 ID</th>
                        <th>보팅갯수</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr class="b_line">
                        <td>
                        <span class="m_data1">
                          1
                        </span>
                        </td>
                        <td>
                        <span class="m_data2">
                          <a href="#">버스가 너무 부족한 것 같아요</a>
                        </span>
                        </td>
                        <td>
                        <span class="m_data3">
                          2018.08.14<br/>11:56:27
                        </span>
                        </td>
                        <td>
                        <span class="m_data4">
                          Ghe021gb
                        </span>
                        </td>
                        <td>
                        <span class="m_data5">
                          3개
                        </span>
                        </td>
                      </tr>
                      <tr class="b_line">
                        <td>
                        <span class="m_data1">
                          1
                        </span>
                        </td>
                        <td>
                        <span class="m_data2">
                          <a href="#">버스가 너무 부족한 것 같아요</a>
                        </span>
                        </td>
                        <td>
                        <span class="m_data3">
                          2018.08.14<br/>11:56:27
                        </span>
                        </td>
                        <td>
                        <span class="m_data4">
                          Ghe021gb
                        </span>
                        </td>
                        <td>
                        <span class="m_data5">
                          3개
                        </span>
                        </td>
                      </tr>
                      <tr class="b_line">
                        <td>
                        <span class="m_data1">
                          1
                        </span>
                        </td>
                        <td>
                        <span class="m_data2">
                          <a href="#">버스가 너무 부족한 것 같아요</a>
                        </span>
                        </td>
                        <td>
                        <span class="m_data3">
                          2018.08.14<br/>11:56:27
                        </span>
                        </td>
                        <td>
                        <span class="m_data4">
                          Ghe021gb
                        </span>
                        </td>
                        <td>
                        <span class="m_data5">
                          3개
                        </span>
                        </td>
                      </tr>
                      <tr class="b_line">
                        <td>
                        <span class="m_data1">
                          1
                        </span>
                        </td>
                        <td>
                        <span class="m_data2">
                          <a href="#">버스가 너무 부족한 것 같아요</a>
                        </span>
                        </td>
                        <td>
                        <span class="m_data3">
                          2018.08.14<br/>11:56:27
                        </span>
                        </td>
                        <td>
                        <span class="m_data4">
                          Ghe021gb
                        </span>
                        </td>
                        <td>
                        <span class="m_data5">
                          3개
                        </span>
                        </td>
                      </tr>
                      <tr class="b_line">
                        <td>
                        <span class="m_data1">
                          1
                        </span>
                        </td>
                        <td>
                        <span class="m_data2">
                          <a href="#">버스가 너무 부족한 것 같아요</a>
                        </span>
                        </td>
                        <td>
                        <span class="m_data3">
                          2018.08.14<br/>11:56:27
                        </span>
                        </td>
                        <td>
                        <span class="m_data4">
                          Ghe021gb
                        </span>
                        </td>
                        <td>
                        <span class="m_data5">
                          3개
                        </span>
                        </td>
                      </tr>
                      <tr class="b_line">
                        <td>
                        <span class="m_data1">
                          1
                        </span>
                        </td>
                        <td>
                        <span class="m_data2">
                          <a href="#">버스가 너무 부족한 것 같아요</a>
                        </span>
                        </td>
                        <td>
                        <span class="m_data3">
                          2018.08.14<br/>11:56:27
                        </span>
                        </td>
                        <td>
                        <span class="m_data4">
                          Ghe021gb
                        </span>
                        </td>
                        <td>
                        <span class="m_data5">
                          3개
                        </span>
                        </td>
                      </tr>
                      <tr class="b_line">
                        <td>
                        <span class="m_data1">
                          1
                        </span>
                        </td>
                        <td>
                        <span class="m_data2">
                          <a href="#">버스가 너무 부족한 것 같아요</a>
                        </span>
                        </td>
                        <td>
                        <span class="m_data3">
                          2018.08.14<br/>11:56:27
                        </span>
                        </td>
                        <td>
                        <span class="m_data4">
                          Ghe021gb
                        </span>
                        </td>
                        <td>
                        <span class="m_data5">
                          3개
                        </span>
                        </td>
                      </tr>
                      </tbody>
                    </table> <!-- END minwon_table-->

                    <div class="block_btn">
                      <button type="button" class="sc1_btn sc1_btn1">블록정보로 조회하기</button>
                      <button type="button" class="sc1_btn sc1_btn2">응원하기</button>
                    </div> <!-- END black_Btn-->
                  </div> <!-- END minwon_table_box-->

                </section> <!-- END sc1-->
              </div> <!-- END left_content-->

              <% include ./include/sub_btn.ejs %>
              <% include ./include/quick.ejs %>

            </div> <!-- END container-->
          </div> <!-- END sub_inner_box-->

            <% include ./include/purple_line.ejs%>

      </main> <!-- END main-->

          <% include ./include/footer.ejs %>
