@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'light_font';
  src: url("../lib/font/woff/Title_Light.woff"); }

@font-face {
  font-family: 'medium_font';
  src: url("../lib/font/woff/Title_Medium.woff"); }

@font-face {
  font-family: 'v_font';
  src: url("../lib/font/woff/TitleV.woff"); }

@font-face {
  font-family: 'bold_font';
  src: url("../lib/font/woff/Title_Bold.woff"); }

@font-face {
  font-family: 'batang_b';
  src: url("../lib/font/woff/Batang_Bold.woff"); }

@font-face {
  font-family: 'batang_r';
  src: url("../lib/font/woff/Batang_Regular.woff"); }

.full-container {
  width: 100%;
  position: relative; }

.container_980 {
  width: 980px;
  margin: auto;
  position: relative; }

body {
  font-family: "light_font", sans-serif; }

.main_title,
.main_strong {
  font-family: 'medium_font'; }

.btn,
.a43 > .desc {
  font-family: 'v_font'; }

.hidden {
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  left: -9999%;
  text-indent: -9999px;
  line-height: 0; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.wrapper {
  position: relative;
  min-width: 980px;
  overflow: auto; }

.btn {
  font-size: 1.6rem; }

.main_page {
  background-image: url("../images/bg.png");
  width: 100%;
  min-height: 100vh;
  padding-bottom: 3rem; }

.d_inline_block {
  display: inline-block;
  vertical-align: middle; }

button {
  border: none;
  background-color: transparent; }

.header {
  background-color: #ffffff;
  height: 90px;
  width: 100%;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2); }
  .header .logo {
    position: absolute;
    top: 0;
    left: 9px; }
  .header .contents {
    width: 50%;
    margin: auto;
    text-align: center; }
    .header .contents .main_txt {
      width: 325px;
      display: inline-block;
      padding-top: 1.5em; }
      .header .contents .main_txt .main_title {
        font-size: 1.6rem;
        color: #0266be; }
      .header .contents .main_txt .dot {
        position: relative;
        display: inline-block; }
        .header .contents .main_txt .dot:before {
          content: '·';
          display: block;
          position: absolute;
          top: -18px;
          left: 6px;
          font-size: 1.6rem; }
      .header .contents .main_txt .main_desc {
        color: #606060;
        padding-top: 5px; }
        .header .contents .main_txt .main_desc .main_strong {
          color: #151515; }
    .header .contents:before, .header .contents:after {
      content: '';
      display: inline-block;
      height: 66px;
      width: 93px;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      top: 15px; }
    .header .contents:before {
      background-image: url("../images/header-img1.png"); }
    .header .contents:after {
      background-image: url("../images/header-img2.png"); }
  .header .header_btn_box {
    position: absolute;
    right: 20px;
    top: 20px; }
    .header .header_btn_box button {
      border: 0;
      background-color: transparent; }

.main {
  position: relative; }

.gnbbox {
  position: relative; }
  .gnbbox .gnb_innerbox {
    border-bottom: 1px solid #ffffff; }
  .gnbbox .hidden_menu {
    position: absolute;
    top: 14px;
    left: 0; }
    .gnbbox .hidden_menu .line {
      width: 22px;
      height: 2px;
      background-color: #ffffff;
      display: block; }
    .gnbbox .hidden_menu .line2 {
      margin-top: 6px;
      margin-bottom: 6px; }
  .gnbbox .gnb {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr); }
    .gnbbox .gnb li a:link,
    .gnbbox .gnb li a:visited {
      text-decoration: none;
      color: #ffffff;
      display: block;
      width: 100%;
      height: 100%;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      text-align: center; }
    .gnbbox .gnb li a:hover,
    .gnbbox .gnb li a:focus {
      background-color: #407aff; }
    .gnbbox .gnb li:nth-child(1) {
      grid-column: 2 / 3; }
    .gnbbox .gnb li:nth-child(2) {
      grid-column: 3 / 4; }
    .gnbbox .gnb li:nth-child(3) {
      grid-column: 4 / 5; }
    .gnbbox .gnb li:nth-child(4) {
      grid-column: 5 / 6; }
  .gnbbox .search_box {
    position: absolute;
    top: 14px;
    right: 0; }
    .gnbbox .search_box .search_btn {
      border: 0;
      background-color: transparent;
      background-image: url("../images/search.png");
      width: 25px;
      height: 25px;
      cursor: pointer; }

.visual {
  background-image: url("../images/visual.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 680px; }
  .visual .container_980 {
    height: 100%; }
  .visual .btn_big_box {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    .visual .btn_big_box .btn {
      display: block;
      border-radius: 10px;
      border: 1px solid #ffffff;
      color: #ffffff;
      text-align: center;
      text-decoration: none; }
  .visual .a41 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    margin-top: 95px; }
  .visual .a42 {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    margin-left: 36px;
    margin-top: 125px; }
  .visual .a43 {
    grid-column: 3 / 5;
    grid-row: 4 / 5; }
    .visual .a43 .desc {
      color: #ffffff;
      letter-spacing: 2px;
      font-size: 1.1rem; }
  .visual .a44 {
    grid-column: 4 / 5;
    grid-row: 1 / 5; }
  .visual .minwon_btn {
    background-color: #a0e13a;
    width: 260px;
    height: 160px;
    line-height: 160px; }
  .visual .live_btn {
    background-color: #73ca9b;
    width: 240px;
    height: 100px;
    padding-top: 30px; }
  .visual .icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    width: 57px;
    height: 62px; }
  .visual .icon1 {
    background-image: url("../images/icon1.png"); }
  .visual .icon2 {
    background-image: url("../images/icon2.png"); }
  .visual .icon3 {
    background-image: url("../images/icon3.png"); }
  .visual .icon4 {
    background-image: url("../images/icon4.png"); }
  .visual .icon5 {
    background-image: url("../images/icon5.png"); }
  .visual .inner_txt {
    vertical-align: middle;
    display: inline-block; }
  .visual .icon3,
  .visual .icon4,
  .visual .icon5 {
    width: 53px;
    height: 53px;
    display: block;
    margin: auto;
    padding-top: 20px; }
  .visual .icon3,
  .visual .icon4 {
    padding-bottom: 10px; }
  .visual .icon5 {
    padding-bottom: 0; }
  .visual .info_btn,
  .visual .token_btn,
  .visual .plus_btn {
    width: 120px;
    height: 120px;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px; }
  .visual .info_btn {
    background-color: #60bde7; }
  .visual .token_btn {
    background-color: #43c8d4; }
  .visual .plus_btn {
    background-color: #b3abdb; }
  .visual .a43 {
    padding-left: 60px;
    padding-top: 19px;
    line-height: 1.6; }
  .visual .a44 .btn_box {
    padding-left: 99px;
    padding-top: 106px; }

.mc1 {
  background-color: rgba(27, 92, 158, 0.5);
  width: 100%; }
  .mc1 .article_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3rem;
    padding-bottom: 3rem; }
    .mc1 .article_box .a3 {
      position: relative;
      color: #ffffff; }
    .mc1 .article_box .a31 {
      grid-column: 1 /2; }
    .mc1 .article_box .a32 {
      grid-column: 2 /3; }
    .mc1 .article_box .a33 {
      grid-column: 3 /4; }
  .mc1 .icon6,
  .mc1 .icon7,
  .mc1 .icon8 {
    width: 30px;
    height: 30px; }
  .mc1 .icon6 {
    background-image: url("../images/icon6.png"); }
  .mc1 .icon7 {
    background-image: url("../images/icon7.png"); }
  .mc1 .icon8 {
    background-image: url("../images/icon8.png"); }
  .mc1 .more_btn {
    position: absolute;
    top: 5px;
    right: 45px;
    color: #ffffff;
    text-decoration: none; }
  .mc1 .article_desc {
    margin-top: 1rem;
    line-height: 1.2; }

.table_list .m_data2 a:link,
.table_list .m_data2 a:visited {
  color: #151515;
  text-decoration: none; }

.sub_page .gnbbox .gnb_innerbox {
  border-bottom-color: #151515; }

.sub_page .gnbbox .hidden_menu .line {
  background-color: #151515; }

.sub_page .gnbbox .gnb li a:link,
.sub_page .gnbbox .gnb li a:visited {
  color: #151515; }

.sub_page .sub_btn_box {
  position: absolute;
  right: 0;
  top: 40px; }
  .sub_page .sub_btn_box .btn {
    width: 120px;
    height: 120px;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    text-decoration: none;
    cursor: pointer; }
  .sub_page .sub_btn_box .minwon_btn {
    background-color: #a0e13a; }
  .sub_page .sub_btn_box .live_btn {
    background-color: #73ca9b; }
  .sub_page .sub_btn_box .info_btn {
    background-color: #60bde7; }
  .sub_page .sub_btn_box .token_btn {
    background-color: #43c8d4; }
  .sub_page .sub_btn_box .plus_btn {
    background-color: #b3abdb; }
  .sub_page .sub_btn_box .icon {
    width: 65px;
    height: 65px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    display: block; }
    .sub_page .sub_btn_box .icon.icon2, .sub_page .sub_btn_box .icon.icon5 {
      padding-bottom: 0; }
  .sub_page .sub_btn_box .icon1 {
    background-image: url("../images/sub/r-icon1.png"); }
  .sub_page .sub_btn_box .icon2 {
    background-image: url("../images/sub/r-icon2.png");
    padding-top: 5px; }
  .sub_page .sub_btn_box .icon3 {
    background-image: url("../images/sub/r-icon3.png"); }
  .sub_page .sub_btn_box .icon4 {
    background-image: url("../images/sub/r-icon4.png"); }
  .sub_page .sub_btn_box .icon5 {
    background-image: url("../images/sub/r-icon5.png"); }

.sub_page .left_content {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .sub_page .left_content .s_content {
    padding-bottom: 3rem; }
  .sub_page .left_content .sc1 {
    position: relative; }
  .sub_page .left_content .web_block {
    display: block; }
  .sub_page .left_content .block_btn {
    position: absolute;
    right: 0;
    top: -50px; }
    .sub_page .left_content .block_btn .sc1_btn {
      border: 1px solid #0059ac;
      border-radius: 30px;
      font-family: 'light_font';
      padding: 0.5rem 0.8rem;
      cursor: pointer;
      font-size: 0.8rem;
      background-color: transparent; }
    .sub_page .left_content .block_btn .sc1_btn2 {
      margin-left: 0.3rem; }

.sub_page .s_title {
  font-family: 'bold_font';
  font-size: 1.3rem;
  border-left: 5px solid #0059ac;
  padding-left: 10px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-bottom: 1.5rem; }

.sub_page .minwon_table_box {
  width: 800px;
  position: relative; }

.sub_page .table {
  border-collapse: collapse;
  width: 100%; }
  .sub_page .table thead {
    border-bottom: 1px solid #151515; }
  .sub_page .table th,
  .sub_page .table td {
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px; }

.sub_page .purple_line {
  width: 100%;
  background-image: url("../images/bg.png");
  height: 45px;
  margin-bottom: 3rem;
  margin-top: 9rem; }

.sub_page.minwon_page .sc2 .inner_box {
  background-image: url("../images/sub/m_icon1.png");
  height: 195px;
  background-repeat: no-repeat;
  padding-left: 175px;
  width: 100%;
  background-position: center left; }

.sub_page.minwon_page .sc2 .s_title {
  border-left: none;
  padding-top: 2rem; }

.sub_page.minwon_page .sc2 .s_desc {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  font-size: 0.9rem; }

.form_box {
  display: inline-block;
  padding-right: 1rem; }

.input_table_box {
  width: 830px;
  margin-top: 3rem; }

.input_table {
  width: 100%; }
  .input_table th,
  .input_table td {
    text-align: left !important; }
  .input_table td {
    text-align: left; }
  .input_table .person_id,
  .input_table .person_title,
  .input_table .complain_title {
    width: 80%;
    border: 0;
    background-color: #eeeeee;
    height: 30px;
    outline: none;
    padding-left: 15px; }
  .input_table .minwon_txt {
    width: 80%;
    outline: none;
    padding-left: 15px;
    padding-top: 15px;
    display: block; }
  .input_table .reply_txt {
    border: 1px solid #eee;
    width: 82%;
    height: 60px;
    overflow-y: auto;
    outline: none;
    padding-left: 15px;
    padding-top: 15px;
    display: inline-block;
    vertical-align: text-top; }
  .input_table .reply_btn {
    width: 14%;
    height: 77px;
    line-height: 77px;
    background-color: #4d83ff;
    display: inline-block;
    vertical-align: text-top;
    border: none;
    color: #ffffff;
    font-family: light_font;
    font-size: 0.8rem;
    border-radius: 3px; }
  .input_table .v_top {
    vertical-align: top; }

.min_btn_box {
  width: 800px;
  margin-top: 3rem;
  text-align: center; }
  .min_btn_box .submit_btn,
  .min_btn_box .before_btn,
  .min_btn_box .vote_btn {
    border: none;
    border-radius: 24px;
    padding: 0.8rem 2.5rem;
    font-size: 1rem;
    color: #ffffff;
    font-family: light_font; }
  .min_btn_box .submit_btn {
    background-color: #407aff;
    font-family: bold_font;
    padding: 0.8rem 5rem; }
  .min_btn_box .vote_btn {
    border: 1px solid #4d83ff;
    color: #151515;
    background-color: transparent;
    font-family: bold_font; }

.quick_box {
  background-image: url("../images/sub/quick_bg.png");
  width: 90px;
  height: 160px;
  position: absolute;
  top: 0;
  left: -14%;
  font-family: bold_font; }
  .quick_box .quick_list {
    padding-top: 2rem;
    padding-left: 0.5rem; }
    .quick_box .quick_list li {
      height: 17px; }
      .quick_box .quick_list li a:link,
      .quick_box .quick_list li a:visited {
        font-size: 0.75rem;
        text-decoration: none;
        color: #151515;
        font-family: bold_font; }

.quick_txt {
  font-size: 0.75rem;
  padding-left: 0.3rem; }
  .quick_txt.quick_txt1 {
    color: #407aff;
    margin-top: 0.5rem; }
  .quick_txt.quick_txt2 {
    color: #ffffff;
    margin-top: 0.6rem;
    padding-left: 0.8rem; }

.popup {
  background-image: url("../images/sub/popup.png");
  width: 320px;
  height: 320px;
  position: absolute;
  bottom: -120px;
  right: -350px; }
  .popup .close_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ffffff; }
    .popup .close_btn .line {
      display: block;
      width: 27px;
      background-color: #bbb;
      height: 2px; }
    .popup .close_btn .line1 {
      transform: rotate(45deg); }
    .popup .close_btn .line2 {
      transform: rotate(-45deg);
      margin-top: -2px; }

.purple_line .footer_desc {
  text-align: center;
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 45px; }
  .purple_line .footer_desc .footer_icon {
    background-image: url("../images/sub/footer_icon.png");
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle; }

.minwon_page2 .minwon_icon_box {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 800px; }

.minwon_page2 .minwon_inner_box li {
  float: left;
  width: 16.66667%;
  text-align: center; }
  .minwon_page2 .minwon_inner_box li .m_icon_img {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; }
  .minwon_page2 .minwon_inner_box li .m_txt {
    font-size: 0.8rem;
    font-family: 'medium_font';
    margin-top: 0.7rem; }

.minwon_page2 .minwon_inner_box .m_icon1 .m_icon_img {
  background-image: url("../images/sub/icon1.png"); }

.minwon_page2 .minwon_inner_box .m_icon2 .m_icon_img {
  background-image: url("../images/sub/icon2.png"); }

.minwon_page2 .minwon_inner_box .m_icon3 .m_icon_img {
  background-image: url("../images/sub/icon3.png"); }

.minwon_page2 .minwon_inner_box .m_icon4 .m_icon_img {
  background-image: url("../images/sub/icon4.png"); }

.minwon_page2 .minwon_inner_box .m_icon5 .m_icon_img {
  background-image: url("../images/sub/icon5.png"); }

.minwon_page2 .minwon_inner_box .m_icon6 .m_icon_img {
  background-image: url("../images/sub/icon6.png"); }

.minwon_page2 .minwon_inner_box .m_icon {
  filter: grayscale(100%); }
  .minwon_page2 .minwon_inner_box .m_icon.on {
    filter: grayscale(0%);
    border: 1px solid #c267e7;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    box-shadow: 0 0 25px rgba(89, 164, 171, 0.25); }

.minwon_list_page .m_list_tab,
.admin_page .m_list_tab {
  border-bottom: 1px solid #dee1e2;
  padding-bottom: 1rem;
  margin-bottom: 1rem; }
  .minwon_list_page .m_list_tab li,
  .admin_page .m_list_tab li {
    float: left;
    width: 20%;
    text-align: center; }
    .minwon_list_page .m_list_tab li a:link,
    .minwon_list_page .m_list_tab li a:visited,
    .admin_page .m_list_tab li a:link,
    .admin_page .m_list_tab li a:visited {
      text-decoration: none;
      color: #151515; }

.minwon_list_page .m_sc1_inner,
.admin_page .m_sc1_inner {
  width: 850px; }

.minwon_list_page .m_sc1_inner_box,
.admin_page .m_sc1_inner_box {
  float: left;
  border: 1px solid #dee1e2;
  padding: 1.5rem; }

.minwon_list_page .inner_left_box,
.admin_page .inner_left_box {
  width: 66%;
  margin-right: 10px; }

.minwon_list_page .inner_right_box,
.admin_page .inner_right_box {
  width: 20%; }

.minwon_list_page .minwon_table_cell,
.admin_page .minwon_table_cell {
  position: relative;
  border-bottom: 1px solid #dee1e2;
  padding-bottom: 1rem;
  border-left: 5px solid transparent;
  padding-left: 1rem;
  padding-top: 0.7rem;
  cursor: pointer; }
  .minwon_list_page .minwon_table_cell:hover, .minwon_list_page .minwon_table_cell:focus,
  .admin_page .minwon_table_cell:hover,
  .admin_page .minwon_table_cell:focus {
    background-color: #f6f8fc;
    border-left-color: #4d83ff; }

.minwon_list_page .m_sc1_inner_box .d_inline_block,
.admin_page .m_sc1_inner_box .d_inline_block {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.7rem;
  margin-top: 0.5rem; }

.minwon_list_page .m_sc1_inner_box .minwon_reply,
.admin_page .m_sc1_inner_box .minwon_reply {
  color: #4d83ff;
  padding-right: 10px;
  font-size: 0.9rem; }

.minwon_list_page .m_sc1_inner_box .minwon_time,
.admin_page .m_sc1_inner_box .minwon_time {
  position: absolute;
  right: 0;
  color: #dee1e2;
  font-size: 0.9rem;
  padding-right: 0.7rem; }

.minwon_list_page .m_sc1_inner_box .minwon_title a:link,
.minwon_list_page .m_sc1_inner_box .minwon_title a:visited,
.admin_page .m_sc1_inner_box .minwon_title a:link,
.admin_page .m_sc1_inner_box .minwon_title a:visited {
  text-decoration: none;
  color: #151515; }

.minwon_list_page .inner_right_box .d_inline_block,
.admin_page .inner_right_box .d_inline_block {
  display: inline-block;
  vertical-align: middle;
  width: 48%; }

.minwon_list_page .inner_right_box .right_menu_info,
.admin_page .inner_right_box .right_menu_info {
  border-bottom: 1px solid #151515; }
  .minwon_list_page .inner_right_box .right_menu_info .t_num,
  .admin_page .inner_right_box .right_menu_info .t_num {
    display: block;
    font-family: 'bold_font';
    font-size: 1.9rem;
    text-align: center; }
  .minwon_list_page .inner_right_box .right_menu_info .t_num1,
  .minwon_list_page .inner_right_box .right_menu_info .t_txt1,
  .admin_page .inner_right_box .right_menu_info .t_num1,
  .admin_page .inner_right_box .right_menu_info .t_txt1 {
    color: #4d83ff; }
  .minwon_list_page .inner_right_box .right_menu_info .t_num2,
  .minwon_list_page .inner_right_box .right_menu_info .t_txt2,
  .admin_page .inner_right_box .right_menu_info .t_num2,
  .admin_page .inner_right_box .right_menu_info .t_txt2 {
    color: #606060; }
  .minwon_list_page .inner_right_box .right_menu_info .t_txt,
  .admin_page .inner_right_box .right_menu_info .t_txt {
    display: block;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.7rem; }

.minwon_list_page .inner_right_box .right_menu_search,
.admin_page .inner_right_box .right_menu_search {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  position: relative; }
  .minwon_list_page .inner_right_box .right_menu_search .search_input,
  .admin_page .inner_right_box .right_menu_search .search_input {
    border-radius: 17px;
    width: 100%;
    display: block;
    border: none;
    background-color: #f8f8f8;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 10px; }
  .minwon_list_page .inner_right_box .right_menu_search .search_icon,
  .admin_page .inner_right_box .right_menu_search .search_icon {
    color: #606060;
    position: absolute;
    right: 0;
    top: 10px; }

.minwon_list_page .inner_right_box .right_menu_icon .btn_set,
.admin_page .inner_right_box .right_menu_icon .btn_set {
  display: inline-block;
  vertical-align: middle;
  width: 31%;
  text-align: center; }
  .minwon_list_page .inner_right_box .right_menu_icon .btn_set.more_btn,
  .admin_page .inner_right_box .right_menu_icon .btn_set.more_btn {
    width: 100%;
    margin-top: 1rem; }

.minwon_list_page .sc2,
.admin_page .sc2 {
  width: 850px; }
  .minwon_list_page .sc2 .sc2_box,
  .admin_page .sc2 .sc2_box {
    float: left;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); }
  .minwon_list_page .sc2 .left_box,
  .admin_page .sc2 .left_box {
    width: 63%; }
  .minwon_list_page .sc2 .right_box,
  .admin_page .sc2 .right_box {
    width: 35%;
    margin-left: 2%; }

.minwon_detail_page .input_table_box .person_id,
.minwon_detail_page .input_table_box .person_title {
  background-color: transparent;
  padding-left: 0; }

.minwon_detail_page .input_table_box .minwon_txt {
  line-height: 1.4;
  padding-left: 0;
  font-size: 0.9rem; }
  .minwon_detail_page .input_table_box .minwon_txt p {
    margin-bottom: 2rem; }

.minwon_detail_page .minwon_time_box {
  color: #d4d4d4; }

.minwon_detail_page .d_inline_block {
  padding-right: 30px; }

.minwon_detail_page .reply_box {
  max-height: 150px;
  overflow-y: auto;
  border-top: 1px solid #dee1e2; }
  .minwon_detail_page .reply_box .reply_small_box {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee1e2;
    padding-left: 10px;
    padding-right: 10px; }
  .minwon_detail_page .reply_box .reply_check_box svg {
    color: #4d83ff; }
  .minwon_detail_page .reply_box .reply_check_box .reply_check {
    font-family: bold_font; }
  .minwon_detail_page .reply_box .reply_id_box {
    color: #d4d4d4;
    font-size: 0.9rem; }
  .minwon_detail_page .reply_box .reply_title_box {
    font-family: bold_font; }
  .minwon_detail_page .reply_box .reply_time_box {
    position: absolute;
    right: 0;
    color: #d4d4d4;
    font-size: 0.9rem; }
  .minwon_detail_page .reply_box .reply_write_box {
    margin-top: 1rem; }

.share_page .a3 {
  float: left;
  width: 33.3333%; }

.share_page .sc2 {
  width: 830px; }
  .share_page .sc2 .left_box,
  .share_page .sc2 .right_box {
    float: left; }
  .share_page .sc2 .left_box {
    width: 37%;
    border-right: 1px solid #151515;
    box-sizing: border-box;
    margin-right: 3%; }
    .share_page .sc2 .left_box .block_btn_box .sc1_btn {
      border: 1px solid #0059ac;
      border-radius: 30px;
      font-family: 'light_font';
      padding: 0.5rem 0.8rem;
      cursor: pointer;
      font-size: 0.9rem;
      background-color: transparent;
      text-decoration: none;
      display: inline-block;
      color: #151515;
      margin-top: 1rem; }
  .share_page .sc2 .right_box {
    width: 60%;
    border: 1px solid #4d83ff;
    box-sizing: border-box;
    text-align: center;
    padding: 1.5rem 1rem;
    border-radius: 7px; }
    .share_page .sc2 .right_box .s_title {
      border-left: 0;
      font-size: 1.1rem;
      margin-bottom: 0.2rem;
      margin-top: 0.5rem; }
    .share_page .sc2 .right_box .s_desc {
      font-size: 0.8rem;
      line-height: 1.2; }

.share_page .sc3 {
  padding-top: 2rem; }
  .share_page .sc3 .s_title {
    border-left: 0;
    text-align: center; }

.admin_page .admin_right_menu {
  background-color: #34495e;
  position: relative; }

.admin_page .grid_temp {
  display: grid;
  grid-template-columns: minmax(1fr, 980px); }

.admin_page .grid1 {
  grid-column: 1 / 2; }

.admin_page .grid2 {
  grid-column: 2 / 3; }

.admin_page .grid3 {
  grid-column: 3 / 4; }

.admin_page .admin_right_menu {
  text-align: right;
  padding-top: 2rem; }
  .admin_page .admin_right_menu .admin_menu {
    width: 80%;
    margin-left: 20%;
    text-align: left;
    margin-bottom: 20rem; }
    .admin_page .admin_right_menu .admin_menu .admin_menu_list li {
      margin-bottom: 1.5rem; }
      .admin_page .admin_right_menu .admin_menu .admin_menu_list li a:link,
      .admin_page .admin_right_menu .admin_menu .admin_menu_list li a:visited {
        text-indent: 5px;
        color: #95a5a6;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 0.5rem 0 0.5rem 0; }
        .admin_page .admin_right_menu .admin_menu .admin_menu_list li a:link span,
        .admin_page .admin_right_menu .admin_menu .admin_menu_list li a:visited span {
          display: inline-block;
          vertical-align: middle; }
        .admin_page .admin_right_menu .admin_menu .admin_menu_list li a:link .menu_txt.on,
        .admin_page .admin_right_menu .admin_menu .admin_menu_list li a:visited .menu_txt.on {
          color: #ffffff; }
      .admin_page .admin_right_menu .admin_menu .admin_menu_list li a:hover,
      .admin_page .admin_right_menu .admin_menu .admin_menu_list li a:focus,
      .admin_page .admin_right_menu .admin_menu .admin_menu_list li a.on {
        background-color: #1f2c38;
        border-radius: 10px 0 0 10px; }

.admin_page .admin_info .admin_name {
  font-size: 1.3rem; }

.admin_page .admin_info .admin_star {
  display: inline-block;
  vertical-align: top; }
  .admin_page .admin_info .admin_star .c_red {
    color: #e74c3c; }
  .admin_page .admin_info .admin_star .c_gray {
    color: #bdc3c7; }

.admin_page .admin_info .admin_stair {
  color: #909b9c;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
  .admin_page .admin_info .admin_stair .admin_stair_link {
    color: #4d83ff;
    text-decoration: none; }

.admin_page .admin_info .admin_exp {
  color: #909b9c; }

.admin_page .sc1 .m_sc1_inner_box {
  width: 27.33333%;
  height: 280px;
  position: relative; }

.admin_page .sc1 .m_inner_box2 {
  margin-left: 1%;
  margin-right: 1%; }

.admin_page .sc1 .m_sc1_inner {
  width: 100%; }

.admin_page .sc1 .m_list_tab {
  margin-top: 2rem; }
  .admin_page .sc1 .m_list_tab li {
    width: 14.28571%; }

.admin_page .sc1 .admin_minwon_num_box {
  padding-bottom: 1rem; }
  .admin_page .sc1 .admin_minwon_num_box li {
    display: inline-block;
    width: 49%;
    text-align: center; }
    .admin_page .sc1 .admin_minwon_num_box li strong {
      display: block;
      font-family: bold_font;
      font-size: 1.9rem;
      color: #95a5a6; }
    .admin_page .sc1 .admin_minwon_num_box li span {
      color: #95a5a6;
      font-size: 0.8rem;
      display: block;
      margin-top: 0.5rem; }

.admin_page .sc1 .m_inner_box1 .num1,
.admin_page .sc1 .m_inner_box1 .txt1 {
  color: #e67333; }

.admin_page .sc1 .m_inner_box2 .num1,
.admin_page .sc1 .m_inner_box2 .txt1 {
  color: #8e44ad; }

.admin_page .sc1 .m_inner_box3 .num1,
.admin_page .sc1 .m_inner_box3 .txt1 {
  color: #16a085; }

.admin_page .sc1 .minwon_table_cell {
  position: relative;
  padding-bottom: 0.3rem;
  padding-top: 0.5rem; }
  .admin_page .sc1 .minwon_table_cell .minwon_title {
    font-size: 0.8rem;
    color: #95a5a6; }
  .admin_page .sc1 .minwon_table_cell .m_data2 {
    width: 185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; }

.admin_page .admin_more_box {
  position: absolute;
  right: 10px;
  bottom: 20px; }
  .admin_page .admin_more_box .more_btn {
    font-size: 0.75rem;
    color: #95a5a6; }

.admin_page .minwon_percent_box {
  padding-left: 0;
  padding-right: 0.5rem;
  margin-bottom: 0 !important; }

.admin_page .minwon_percent {
  display: block;
  width: 40px;
  background-color: #1abc9c;
  position: relative;
  bottom: -5px; }
  .admin_page .minwon_percent:before {
    color: #95a5a6;
    display: block;
    position: absolute;
    top: -12px;
    font-size: 0.8rem;
    right: 8px; }
  .admin_page .minwon_percent.p_35 {
    height: 15px;
    bottom: -9px; }
    .admin_page .minwon_percent.p_35:before {
      content: '35%'; }
  .admin_page .minwon_percent.p_20 {
    height: 10px;
    bottom: -12px; }
    .admin_page .minwon_percent.p_20:before {
      content: '20%'; }
  .admin_page .minwon_percent.p_70 {
    height: 35px; }
    .admin_page .minwon_percent.p_70:before {
      content: '70%'; }
  .admin_page .minwon_percent.p_90 {
    height: 40px; }
    .admin_page .minwon_percent.p_90:before {
      content: '90%'; }

.admin_page .sc2 .admin_left,
.admin_page .sc2 .admin_right {
  float: left; }

.admin_page .sc2 .admin_left {
  width: 45%;
  border: 1px solid #dee1e2;
  box-sizing: border-box;
  padding: 1.5rem;
  color: #95a5a6; }
  .admin_page .sc2 .admin_left .a4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: left;
    width: 25%;
    font-size: 0.75rem;
    text-align: center; }
    .admin_page .sc2 .admin_left .a4 .percent {
      width: 44px;
      height: 40px;
      background-color: #eaedf1;
      margin: 0 auto 0.5rem; }
      .admin_page .sc2 .admin_left .a4 .percent span {
        background-color: #2ecc71;
        display: block; }
      .admin_page .sc2 .admin_left .a4 .percent .p_ing1 {
        height: 30px;
        position: relative;
        bottom: -10px; }
      .admin_page .sc2 .admin_left .a4 .percent .p_ing2 {
        height: 12px;
        position: relative;
        bottom: -28px; }
      .admin_page .sc2 .admin_left .a4 .percent .p_ing3 {
        height: 21px;
        position: relative;
        bottom: -19px; }
    .admin_page .sc2 .admin_left .a4 .num3 {
      font-family: bold_font;
      font-size: 1.9rem;
      color: #2ecc71;
      display: block;
      margin-bottom: 1rem; }
  .admin_page .sc2 .admin_left .admin_bottom_box {
    clear: both;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #dee1e2; }

.admin_page .sc2 .admin_right {
  width: 55%; }
  .admin_page .sc2 .admin_right .admin_title {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dee1e2; }
  .admin_page .sc2 .admin_right .admin_more_box {
    bottom: 94px; }

.admin_modal {
  display: none;
  min-height: 600px;
  overflow-y: auto;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0; }
  .admin_modal .black_bg {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0; }
  .admin_modal .modal_inner_box {
    position: relative;
    z-index: 999;
    background-color: #fff;
    width: 800px;
    margin: auto;
    padding: 2rem; }
  .admin_modal .minwon_txt p {
    margin-bottom: 1rem; }
  .admin_modal .sc1,
  .admin_modal .sc2,
  .admin_modal .sc3 {
    padding-bottom: 2rem; }
  .admin_modal .admin_feedback_btn {
    text-align: center; }
  .admin_modal .feedback_btn {
    border: 1px solid #0059ac;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    font-family: light_font;
    border-radius: 17px; }
  .admin_modal .select_box,
  .admin_modal .to {
    border: 1px solid #95a5a6;
    padding: 0.3rem 0.5rem; }
  .admin_modal .select_box {
    text-align: center; }
  .admin_modal .close_btn {
    color: #95a5a6;
    font-size: 1.1rem;
    position: absolute;
    right: 30px; }
  .admin_modal.on {
    display: block; }
