
<footer class="footer">
    <div class="container">
    </div> <!-- END container-->
</footer> <!-- END footer-->
</div> <!-- END wrapper-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
<script>
    $( function() {
        $(".to, .from").datepicker();

        $(".close_btn").click(function(){
            $(".admin_modal").removeClass('on');
        });

        $(".admin_page .m_data2").click(function(){
            $(".admin_modal").addClass('on');
            return false;
        });

        $(".mobile_btn").on('click', function(){
            $(".mobile_modal").addClass('on');
        });
        $(".mobile_submit_btn").on('click', function(){
            $(".mobile_modal").removeClass('on');
        });
    });
</script>
</body>
</html>