<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<div class="wrapper">

    <header class="header">
        <div class="full-container">
            <h1 class="logo">
                <a href="#" title="세계속의 경기도 홈페이지 바로가기 링크">
                    <img src="/images/logo.png" alt="세계속의 경기도 로고"/>
                </a>
            </h1> <!--END logo-->

            <div class="contents">
                <div class="main_txt">
                    <h2 class="main_title">새로운 경기 <span class="dot">함</span><span class="dot">께</span> 시작합니다</h2>
                    <p class="main_desc">새로운 경기! <strong class="main_strong">1300만 도민과 함께</strong> 시작하겠습니다.</p>
                </div> <!-- END main_txt-->
            </div> <!-- END contents-->

        </div> <!-- END full-container-->
    </header> <!-- END header-->

    <main class="main">

        <div class="gnbbox">
            <div class="container">
                <nav class="gnb_innerbox">
                    <h2 class="hidden">세계속의 경기도 주요메뉴</h2>
                    <div class="hidden_menu">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div> <!-- END hidden_menu-->

                    <ul class="gnb">
                        <li>
                            <a href="#" title="민원올리기 메뉴 바로가기 링크">민원 올리기</a>
                        </li>
                        <li>
                            <a href="#" title="실시간 처리 보기 메뉴 바로가기 링크">실시간 처리 보기</a>
                        </li>
                        <li>
                            <a href="#" title="이웃 알리미 메뉴 바로가기 링크">이웃 알리미</a>
                        </li>
                        <li>
                            <a href="#" title="토큰 모으기 메뉴 바로가기 링크">토큰 모으기</a>
                        </li>
                        <li>
                            <a href="#" title="나눔 더하기 메뉴 바로가기 링크">나눔 더하기</a>
                        </li>
                    </ul> <!-- END gnb-->

                    <div class="search_box">
                        <button class="search_btn" title="버튼을 누르면 검색기능이 나옵니다." type="button"></button>
                    </div> <!-- END search_box-->

                </nav> <!-- END gnbbox-->
            </div> <!-- END container-->
        </div> <!-- END gnbbox-->