<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Bootstrap Toggle CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/bootstrap-toggle.min.css">

    <link rel="stylesheet" href="/css/jquery-ui.css">
</head>
<body>
<div class="wrapper">

    <header class="header">
        <div class="full-container">
            <h1 class="logo">
                <a href="#" title="세계속의 경기도 홈페이지 바로가기 링크">
                    <img src="/images/logo.png" alt="세계속의 경기도 로고"/>
                </a>
            </h1> <!--END logo-->

            <div class="contents">
                <div class="main_txt">
                    <h2 class="main_title">새로운 경기 <span class="dot">함</span><span class="dot">께</span> 시작합니다</h2>
                    <p class="main_desc">새로운 경기! <strong class="main_strong">1300만 도민과 함께</strong> 시작하겠습니다.</p>
                </div> <!-- END main_txt-->
            </div> <!-- END contents-->

        </div> <!-- END full-container-->
    </header> <!-- END header-->