<div class="purple_line">
    <div class="container_980">
        <h5 class="footer_desc">
            <span class="icon footer_icon"></span>
            <span class="footer_txt">
                  차곡차곡 모은 내 토큰, 현금처럼 결제하세요~! 우리동네 토큰 결제 가능 매장이 매일매일 늘어납니다.
                </span>
        </h5>
    </div> <!-- END container-->
</div>