<div class="sub_btn_box">
    <div class="btn_box">

        <a href="/minwon" class="btn minwon_btn">
            <span class="icon icon1"></span>
            민원 올리기
        </a>

        <a href="/live" title="실시간 처리 보기 링크" class="btn live_btn">
            <span class="icon icon2"></span>
            실시간<br/>처리 보기
        </a>

        <a href="/alert" title="이웃 알리미 바로가기 링크" class="btn info_btn">
            <span class="icon icon3"></span>
            이웃 알리미
        </a>

        <a href="/token" title="토큰 모으기 바로가기 링크" class="btn token_btn">
            <span class="icon icon4"></span>
            토큰 모으기
        </a>

        <a href="/plus" title="나눔 더하기 바로가기 링크" class="btn plus_btn">
            <span class="icon icon5"></span>
            나눔 더하기
        </a>

    </div> <!-- END btn_box-->
</div> <!-- END sub_btn_box-->