<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Bootstrap Toggle CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/bootstrap-toggle.min.css">

    <link rel="stylesheet" href="/css/jquery-ui.css">
</head>
<body>
<div class="mobile_box">
    <img src="/images/sub/m1.png"/>
</div>


<% include ../include/footer.ejs %>