<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.css">


    <!-- Bootstrap Toggle CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/bootstrap-toggle.min.css">

    <link rel="stylesheet" href="/css/jquery-ui.css">
</head>
<body>
<div class="mobile_box">
    <img src="/images/sub/m2.png"/>
    <div class="mobile_btn_box">
        <button class="mobile_btn">20  토큰 기부하기</button>
    </div>
</div>

<div class="mobile_modal">
    <div class="black_bg"></div>
    <div class="mobile_inner_box">
        <img src="/images/m_modal.png">
        <button type="button" class="mobile_submit_btn">확 인</button>
    </div>
</div> <!-- END mobile_modal-->


<% include ../include/footer.ejs %>